.dxssControl_KetoSavage
{
    border-style: none;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxssControl_KetoSavage .dxss-gl .dxss-v,
.dxssControl_KetoSavage .dxss-gl .dxss-h
{
    border-color: rgba(0,0,0,0.247);
}
.dxssControl_KetoSavage .dxss-rowHeader
{
    border-right: 1px solid rgba(0,0,0,0.247);
    border-top: 1px solid rgba(0,0,0,0.247);
}
.dxssControl_KetoSavage .dxss-colHeader
{
    border-bottom: 1px solid rgba(0,0,0,0.247);
    border-left: 1px solid rgba(0,0,0,0.247);
}
.dxssControl_KetoSavage .dxss-crse
{
    background-color: #DEDEDE;
    opacity: .20;
}
.dxssControl_KetoSavage .dxss-trbe
{
    border-top-color: #DEDEDE;
}
.dxssControl_KetoSavage .dxss-rrbe
{
    border-right-color: #DEDEDE;
}
.dxssControl_KetoSavage .dxss-brbe
{
    border-bottom-color: #DEDEDE;
}
.dxssControl_KetoSavage .dxss-lrbe
{
    border-left-color: #DEDEDE;
}
.dxssControl_KetoSavage .dxss-fh
{
    background-color: #DEDEDE;
}
.dxssControl_KetoSavage .dxss-sbe
{
    border-color: #DEDEDE;
}
.dxssControl_KetoSavage .dxss-sbe
{
    border-color: #DEDEDE;
}
.dxssControl_KetoSavage .dxtcLite_KetoSavage.dxtc-bottom > .dxtc-stripContainer .dxtc-rightIndent,
.dxssControl_KetoSavage .dxtcLite_KetoSavage.dxtc-bottom > .dxtc-stripContainer .dxtc-leftIndent
{
    width: 0px;
}
.dxssControl_KetoSavage .dxrControl_KetoSavage .dxtcLite_KetoSavage.dxtc-top .dxtc-leftIndent
{
    width: 0px;
}
.dxssControl_KetoSavage .dxtcLite_KetoSavage.dxtc-bottom .dxtc-leftIndent
{
    width: 8px;
}
.dxssControl_KetoSavage .dxss-hrg,
.dxssControl_KetoSavage .dxss-vrg
{
    background-color: #DEDEDE;
}
.dxssControl_KetoSavage .dxss-md
{
    border-left: 1px solid rgba(0,0,0,0.247) !important;
    border-right: 1px solid rgba(0,0,0,0.247) !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dxssControl_KetoSavage .dxrControl_KetoSavage .dxmLite_KetoSavage .dxm-item
{
    padding: 7px 20px 6px 22px;
}
.dxssControl_KetoSavage .dxrControl_KetoSavage .dxmLite_KetoSavage .dxm-item
{
    padding: 0 4px;
}
.dxssControl_KetoSavage .dxss-tse
{
    border-color: #DEDEDE;
}
.dxssControl_KetoSavage .dxss-tre
{
    background: url('TouchResize.svg');
}
.dxssControl_KetoSavage .dxss-ddp,
.dxssControl_KetoSavage .dxss-ddb
{
    border: 1px solid rgba(0,0,0,0.247);
}
.dxssControl_KetoSavage .dxss-ddp tr:hover
{
    background-color: #e0e0e0;
}
/* Loading panel */
.dxssLoadingDiv_KetoSavage
{
    background: white;
    opacity: 0.85 !important;
    filter: alpha(opacity=85);
}
.dxssLoadingPanel_KetoSavage
{
    background-color: white;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxssLoadingPanel_KetoSavage td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxssLoadingPanel_KetoSavage .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #DEDEDE;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxssLoadingPanel_KetoSavage .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
/* DX Spreadsheet Cell Editor Element, Formula Bar, IntelliSense elements */
.dxssControl_KetoSavage .dxss-ctve
{
    border: 2px solid #DEDEDE;
    /*the same -dxss-cfe */
}
.dxssControl_KetoSavage .dxss-fb
{
    height: 32px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.247);
    border-top-width: 0;
}
.dxssControl_KetoSavage .dxss-fbw
{
    padding: 7px 8px 7px 7px;
    border: 1px solid #DCDCDC;
    background-color: white;
}
.dxFirefox .dxssControl_KetoSavage .dxss-fbw
{
    padding: 7px 8px 6px 7px;
}
.dxssControl_KetoSavage .dxmLite_KetoSavage .dxss-fbMenu
{
    height: 32px;
    border: 0;
    background-color: transparent;
    background-image: none;
}
.dxssControl_KetoSavage .dxss-fbMenu .dxm-content
{
    padding-top: 8px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    padding-bottom: 0px !important;
}
.dxssControl_KetoSavage .dxss-hint
{
    border: 1px solid #dedede;
    background-color: #FFFFFF;
    padding: 3px 8px 4px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.dxssControl_KetoSavage .dxss-hint,
.dxss-funcLB.dxeListBox_KetoSavage
{
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxssControl_KetoSavage .dxss-hint.dxss-funcInfo
{
    margin-left: 10px;
    margin-right: 10px;
}
.dxpnlControl_KetoSavage .dxssDlgPageSetupForm
{
    width: 530px;
}
.dxssDlgPageSetupForm .dxssPSContainer .dxssPageControl.dxtcLite_KetoSavage .dxtc-content
{
    padding-top: 20px;
    padding-bottom: 10px;
}
.dxssDlgPageSetupForm .dxssPSContainer .dxssPageControl.dxtcLite_KetoSavage
{
    margin-top: 16px;
}
.dxssDlgPageSetupForm .dxtcLite_KetoSavage > .dxtc-stripContainer .dxtc-link
{
    padding: 4px 25px;
}
.dxpnlControl_KetoSavage .dxssDlgPageSetupForm .dxeButtonEdit_KetoSavage
{
    min-width: 75px;
}
.dxpnlControl_KetoSavage .dxssDlgPageSetupForm .dxssPSPrintContainer
{
    padding: 10px 19px 10px 10px;
    margin-bottom: 4px;
}
.dxpnlControl_KetoSavage .dxssDlgPageSetupForm .dxtcLite_KetoSavage > .dxtc-content
{
    padding: 0px;
}
.dxssControlSys .dxmLite_KetoSavage .dxm-popup .dxm-checked img[class*="ssRibbonGIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_KetoSavage .dxm-popup .dxm-checked img[class*="ssRibbonGIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_KetoSavage .dxm-popup .dxm-checked img[class*="ssRibbonGIcons_PageMarginsNarrow"],
.dxssControlSys .dxmLite_KetoSavage .dxm-popup .dxm-checked span[class*="ssRibbonGIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_KetoSavage .dxm-popup .dxm-checked span[class*="ssRibbonGIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_KetoSavage .dxm-popup .dxm-checked span[class*="ssRibbonGIcons_PageMarginsNarrow"]
{
    margin-top: 3px !important;
}
.dxssControlSys .dxmLite_KetoSavage .dxm-popup img[class*="ssRibbonGIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_KetoSavage .dxm-popup img[class*="ssRibbonGIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_KetoSavage .dxm-popup img[class*="ssRibbonGIcons_PageMarginsNarrow"],
.dxssControlSys .dxmLite_KetoSavage .dxm-popup span[class*="ssRibbonGIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_KetoSavage .dxm-popup span[class*="ssRibbonGIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_KetoSavage .dxm-popup span[class*="ssRibbonGIcons_PageMarginsNarrow"]
{
    margin-top: 3px !important;
}
.dxssFCFormLayout .dxflGroupCell_KetoSavage
{
    padding: 0 10px;
}
.dxpcLite_KetoSavage .dxssDlgFormatCellsForm
{
    width: 623px;
}
.dxeListBox_KetoSavage.dxssFCType
{
    width: 400px !important;
    height: 159px !important;
}
.dxeListBox_KetoSavage.dxssFCType .dxlbd
{
    width: 398px !important;
}
.dxeListBox_KetoSavage.dxssFCCategory
{
    width: 150px !important;
    height: 350px !important;
    margin-top: 13px;
}
.dxflGroup_KetoSavage.dxssFCDescription
{
    height: 85px;
    padding-top: 13px !important;
}
.dxssFCFormLayout .dxflGroupBox_KetoSavage
{
    padding-bottom: 8px;
    margin-bottom: 12px;
}
.dxssFCSampleGroup .dxflItem_KetoSavage
{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.dxeControlsCell_KetoSavage > .dxssFCDecimalPlaces
{
    width: 100px !important;
}
/* Cell Editing */
.dxssControl_KetoSavage.icbem .dxss-inputTarget
{
    border: 2px solid #DEDEDE;
}
/*Cell position hint*/
.dxssControl_KetoSavage .dxss-cell-pos-hint
{
    background-color: #DEDEDE;
    color: white;
}
.dxrControl_KetoSavage .dxssRibbonCBSmall
{
    width: 100px;
}
.dxrControl_KetoSavage .dxssRibbonCBLarge
{
    width: 130px;
}
/* --------------Select-All----------------- */
.dxssControl_KetoSavage .dxss-ssbi
{
    border-color: transparent;
    border-bottom-color: #cecece;
}
.dxssControl_KetoSavage .dxss-ssb:hover .dxss-ssbi
{
    border-bottom-color: #a8a8a8;
}
/* ----------Add-Sheet-Button---------------*/
.dxssControl_KetoSavage .dxss-ast-btn:before,
.dxssControl_KetoSavage .dxss-ast-btn:after
{
    background-color: #747474;
}
.dxssControl_KetoSavage .dxss-ast-circle:hover .dxss-ast-btn:before,
.dxssControl_KetoSavage .dxss-ast-circle:hover .dxss-ast-btn:after
{
    background-color: #DEDEDE;
}
.dxssControl_KetoSavage .dxss-ast
{
    border-top: 3px solid #DFDFDF;
}
.dxssControl_KetoSavage .dxss-ast .dxss-ast-circle
{
    margin-top: 10px;
}
/* --------------Dialogs----------------- */
.dxssControl_KetoSavage .dxss-dialogSimpleFooterGroup,
.dxssControl_KetoSavage .dxss-dialogFooter
{
    border-top: 1px #dfdfdf solid;
    padding: 10px 19px 11px 10px;
}
.dxssControl_KetoSavage .dxss-dialog .dxss-dialogFooterBtn
{
    width: 100px !important;
}
.dxssControl_KetoSavage .dxss-dialog .dxss-imagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
}
.dxssControl_KetoSavage .dxss-customDataFilterForm .dxss-dialogRadionButtonList .dxe,
.dxssControl_KetoSavage .dxss-dialogHeaderGroup .dxss-dialogRadionButtonList .dxe
{
    padding-top: 0px;
    padding-bottom: 0px;
}
.dxssControl_KetoSavage .dxss-changeChartTypeForm .dxss-chartsbtn div.dxb
{
    padding: 6px 9px 7px;
}
.dxssControl_KetoSavage .dxss-changeChartTypeForm .dxss-chartsbtn
{
    width: auto;
}
.dxssControl_KetoSavage .dxss-changeChartTypeForm .dxtcLite_KetoSavage.dxtc-left > .dxtc-stripContainer .dxtc-link
{
    padding-right: 5px;
}
@media (max-width: 400px)
{
    .dxssControl_KetoSavage .dxss-dialog .dxss-dialogRadionButtonList .dxichTextCellSys
    {
        padding-right: 5px;
    }
    .dxssControl_KetoSavage .dxss-saveFileAsForm .dxss-dialogContentGroup,
    .dxssControl_KetoSavage .dxss-insertLinkForm .dxss-dialogContentGroup
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .dxssControl_KetoSavage .dxss-changeChartTypeForm .dxtcLite_KetoSavage.dxtc-left > .dxtc-stripContainer .dxtc-link
    {
        padding-left: 5px;
        padding-right: 10px;
    }
    .dxssControl_KetoSavage .dxss-changeChartTypeForm .dxtcLite_KetoSavage > .dxtc-content
    {
        padding-left: 7px;
        padding-right: 7px;
        text-align: center;
    }
    .dxssControl_KetoSavage .dxss-changeChartTypeForm .dxss-dialogSimpleContentGroup
    {
        padding-left: 7px;
        padding-right: 7px;
    }
    .dxssControl_KetoSavage .dxss-modifyTableStyleForm .dxss-dialogSimpleContentGroup
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    .dxssControl_KetoSavage .dxss-modifyTableStyleForm .dxtcLite_KetoSavage.dxtc-left > .dxtc-stripContainer .dxtc-link
    {
        padding-left: 6px;
        padding-right: 5px;
    }
    .dxssControl_KetoSavage .dxss-modifyTableStyleForm .dxtcLite_KetoSavage > .dxtc-content
    {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}
/*---------Change-Chart-Style-Dialog-------*/
.dxss-modifyChartStyleContent .dxbButtonHover_KetoSavage
{
    color: white;
    background-color: #DEDEDE;
    border: 1px solid #DEDEDE;
}
.dxss-modifyChartStyleContent .dxbButtonChecked_KetoSavage
{
    color: #484848;
    background-color: #C0C0C0;
}
.dxss-modifyChartStyleContent .dxbButtonPressed_KetoSavage
{
    color: white;
    background-color: #C0C0C0;
}
.dxss-modifyChartStyleContent .dxbButton_KetoSavage div.dxb
{
    padding-left: 9px;
    padding-right: 9px;
}
.dxss-modifyChartStyleContent .dxbButton_KetoSavage
{
    border-width: 1px;
    border-style: solid;
    width: auto;
}
.dxeBase_KetoSavage.dxss-cbFindMatch td.dxichCellSys,
.dxeBase_KetoSavage.dxss-cbFindMatch td.dxichTextCellSys
{
    padding-top: 6px;
}
/* Format as Table */
.dxss-modifyChartStyleContent .dxbButton_KetoSavage div.dxb
{
    padding-left: 3px;
    padding-right: 3px;
}
.dxss-modifyChartStyleContent .dxbButton_KetoSavage div.dxbf
{
    padding-left: 2px;
    padding-right: 2px;
}
/*-----Filter-Dialogs-----*/
.dxss-validationConfirmForm .dxbButton_KetoSavage div.dxb,
.dxss-dataFilterSimpleForm .dxbButton_KetoSavage div.dxb
{
    padding-left: 5px;
    padding-right: 5px;
}
@media (max-width: 475px)
{
    .dxss-dataValidationForm .dxbButton_KetoSavage div.dxb,
    .dxss-dataFilterSimpleForm .dxbButton_KetoSavage div.dxb
    {
        padding-left: 1px;
        padding-right: 1px;
    }
    .dxpnlControl_KetoSavage .dxss-dataFilterSimpleForm .dxss-dialogControlsWrapper > tbody > tr > td:first-child
    {
        display: none;
    }
    .dxssControl_KetoSavage .dxss-dataValidationForm .dxss-dialogSimpleFooterGroup,
    .dxssControl_KetoSavage .dxss-dataFilterSimpleForm .dxss-dialogSimpleFooterGroup
    {
        padding-left: 0px;
        padding-right: 2px;
    }
    .dxssControl_KetoSavage .dxss-dialog.dxss-dataValidationForm .dxss-dialogFooterBtn,
    .dxssControl_KetoSavage .dxss-dialog.dxss-validationConfirmForm .dxss-dialogFooterBtn,
    .dxssControl_KetoSavage .dxss-dialog.dxss-dataFilterSimpleForm .dxss-dialogFooterBtn
    {
        width: 85px !important;
    }
}
/*---Page-Setup-Dialog---*/
.dxssControl_KetoSavage .dxss-pageSetupForm .dxss-pageSetupContent > div:first-child
{
    padding-right: 0px;
    padding-left: 7px;
}
.dxssControl_KetoSavage .dxss-pageSetupForm .dxss-pageSetupContent .dxss-customPaddingGroup
{
    padding-left: 0px;
    padding-right: 10px;
}
.dxss-customPaddingGroup .dxflGroupCell_KetoSavage
{
    padding-right: 0px;
    padding-left: 0px;
}
.dxssControl_KetoSavage .dxss-dialog .dxss-shortEditor
{
    min-width: 90px;
    max-width: 90px;
}
.dxssControl_KetoSavage .dxss-pageSetupForm .dxss-orientationGroup
{
    padding-left: 0px;
    padding-right: 0px;
}
.dxssControl_KetoSavage .dxss-pageSetupForm .dxss-scalingGroup,
.dxssControl_KetoSavage .dxss-pageSetupForm .dxss-pagePrintGroup,
.dxssControl_KetoSavage .dxss-pageSetupForm .dxss-firstPageGroup
{
    padding-left: 7px;
}
/*---Floating-content---*/
.dxssControl_KetoSavage .dxss-pageSetupForm .dxss-scalingGroup > div:first-child,
.dxssControl_KetoSavage .dxss-pageSetupForm .dxss-scalingGroup > div:nth-child(3)
{
    width: 25% !important;
}
.dxssControl_KetoSavage .dxss-pageSetupForm .dxss-scalingGroup > div:nth-child(2)
{
    width: 75% !important;
}
.dxssControl_KetoSavage .dxss-pageSetupForm .dxss-scalingGroup > div:nth-child(5)
{
    width: 35% !important;
}
/*---Spin-edits---*/
.dxss-marginPreviewContainer .dxss-previewTable .dxeButtonEditSys .dxeSpinIncButton_KetoSavage,
.dxss-marginPreviewContainer .dxss-previewTable .dxeButtonEditSys .dxeSpinDecButton_KetoSavage
{
    padding-left: 2px;
    padding-right: 2px;
}
.dxssControl_KetoSavage .dxss-pageSetupContent .dxss-HFMainGroup
{
    padding-left: 0px;
    padding-right: 10px;
}
.dxssControl_KetoSavage .dxss-previewTable .dxeCaptionCell_KetoSavage
{
    padding-bottom: 3px;
}
/*---Custom-Header-Footer-Dialog---*/
.dxssControl_KetoSavage .dxss-headerFooterContent .dxss-HFHeaderGroup,
.dxssControl_KetoSavage .dxss-headerFooterContent .dxss-HFFooterGroup
{
    padding-left: 0px;
    padding-right: 0px;
}
.dxss-headerFooterContent .dxss-HFHeaderGroup .dxflGroupCell_KetoSavage,
.dxss-headerFooterContent .dxss-HFFooterGroup .dxflGroupCell_KetoSavage
{
    padding-left: 0px;
    padding-right: 10px;
}
/***Data*Validation***/
.dxss-dataValidationForm .dxtcLite_KetoSavage .dxss-dvContent
{
    min-height: 314px;
}
.dxss-dataValidationForm .dxtcLite_KetoSavage .dxss-dvSettingsContent
{
    min-height: 270px;
}
.dxss-dataValidationForm .dxtcLite_KetoSavage .dxss-dvSettingsContent .dxss-dvDescriptionRow
{
    padding-top: 5px;
}
.dxssControl_KetoSavage .dxss-dataValidationForm .dxss-zeroPaddingGroup
{
    padding-right: 0px;
    padding-left: 0px;
}

