.dxpgControl_KetoSavage, .dxpgCustForm_KetoSavage
{
    color: #484848;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    background-color: white;
}
.dxpgCustForm_KetoSavage
{
    border: solid 1px #dfdfdf;
}
.dxpgContainerCell_KetoSavage
{
    vertical-align: top;
}
.dxpgMainTable_KetoSavage
{
    border-collapse: separate;
    width: 100%;
    text-align: left;
}
.dxpgPTContainerDiv_KetoSavage > .dxpgMainTable_KetoSavage
{
    border: solid 1px #dfdfdf;
}
div.dxpgMainTable_KetoSavage
{
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
}
.dxpgMainTable_KetoSavage caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 21px 3px 5px;
    text-align: center;
    color: #999999;
}
.dxpgHeader_KetoSavage
{
    border-width: 0px;
    cursor: pointer;
    white-space: nowrap;
    text-align: left;
    font: 14px 'Roboto Medium', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-size: 1em;
}
.dxpgHeaderTable_KetoSavage,
.dxpgCustomizationFieldsContent_KetoSavage .dxpgFLListDiv_KetoSavage .dxpgHeaderTable_KetoSavage
{
    background-color: white;
    color: black;
    font-weight: normal;
    border: 1px solid #dfdfdf;
    padding: 4px 8px;
    width: 100%;
    border-collapse: separate !important;
    box-shadow: none;
}
.dxpgMSDraggable_KetoSavage .dxpgHeaderTable_KetoSavage,
.dxpgCustFieldsDiv_KetoSavage .dxpgHeaderTable_KetoSavage
{
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
}
.dxpgHeaderGroupButton_KetoSavage
{
    padding-left: 4px;
    vertical-align: middle;
}
.dxpgHeaderText_KetoSavage
{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 4px;
}
.dxpgHeaderSort_KetoSavage
{
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
}
.dxpgHeaderFilter_KetoSavage
{
    padding-left: 0px;
    padding-right: 2px;
    padding-bottom: 0;
    vertical-align: middle;
}
.dxpgArea_KetoSavage
{
    border: solid 1px #dfdfdf;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
}
.dxpgColumnArea_KetoSavage
{
    border-bottom-style: solid;
}
.dxpgDataArea_KetoSavage
{
    border-bottom-style: solid;
}
.dxpgFilterArea_KetoSavage
{
    border: 1px solid #dfdfdf;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    border-bottom-width: 0;
}
.dxpgEmptyArea_KetoSavage
{
    cursor: default;
    padding-top: 9px;
    padding-left: 6px;
    padding-bottom: 7px;
    padding-right: 6px;
}
.dxpgColumnFieldValue_KetoSavage
{
    border: solid 1px #dfdfdf;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
    color: #8e8e93;
    padding: 4px 6px;
    font-weight: normal;
    text-align: left;
}
.dxpgColumnTotalFieldValue_KetoSavage
{
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
    background-color: #f5f5f5;
}
.dxpgColumnGrandTotalFieldValue_KetoSavage
{
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
    background-color: #ececec;
}
.dxpgRowFieldValue_KetoSavage
{
    border: solid 1px #dfdfdf;
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: solid;
    color: #8e8e93;
    padding: 6px 18px 7px 18px;
    font-weight: normal;
    text-align: left;
}
.dxpgRowTotalFieldValue_KetoSavage
{
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: solid;
    background-color: #f5f5f5;
}
.dxpgRowTreeFieldValue_KetoSavage
{
    padding: 0;
    font-size: 0;
}
.dxpgRowGrandTotalFieldValue_KetoSavage
{
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: solid;
    padding-top: 5px;
    padding-bottom: 6px;
    background-color: #ececec;
}
.dxpgCollapsedButton_KetoSavage
{
    vertical-align: 3px;
    border: 0px;
    margin-right: 12px;
}
.dxpgSortByColumnImage_KetoSavage
{
    vertical-align: -1px;
    border: 0px;
    margin-left: 5px;
}
.dxpgCell_KetoSavage
{
    text-align: right;
    background-color: White;
    border-color: #dfdfdf;
    border-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: none;
    border-right-style: none;
    padding: 3px 16px 4px;
    white-space: nowrap;
}
.dxpgKPICell_KetoSavage
{
    text-align: center;
    vertical-align: middle;
}
.dxpgTotalCell_KetoSavage
{
    background-color: #fcfcfc;
}
.dxpgGrandTotalCell_KetoSavage
{
    background-color: #ececec;
}
.dxpgCellsArea_KetoSavage
{
    background-color: White;
}
.dxpgCellsSCContentTable_KetoSavage
{
    border-color: #cecece;
    border-width: 1px;
    border-bottom-style: solid;
}
.dxpgRowSCContentTable_KetoSavage
{
    border-color: #dfdfdf;
    border-width: 1px;
    border-bottom-style: solid;
}
.dxpgColumnSCContentTable_KetoSavage
{
    border-color: #dfdfdf;
    border-width: 1px;
    border-right-style: solid;
}
.dxpgFilterItem_KetoSavage
{
    white-space: nowrap;
    padding-left: 6px;
}
tr:first-child > .dxpgFilterItem_KetoSavage
{
    padding-top: 6px;
}
.dxpgTopPager_KetoSavage,
.dxpgBottomPager_KetoSavage
{
    padding: 3px 0 1px;
}
.dxpgBottomPager_KetoSavage
{
    border: 1px Solid #dfdfdf;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}
.dxpgTopPager_KetoSavage,
.dxpgBottomPager_KetoSavage
{
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.dxpgCustomizationFieldsHeader_KetoSavage
{
    color: White;
    font-size: 0.91em;
    background-image: none !important;
}
.dxpgCustomizationFieldsContent_KetoSavage
{
    padding: 0px !important;
    min-width: 300px;
}
.dxpgCustomizationFieldsContent_KetoSavage .dxpgHeaderTable_KetoSavage
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #dfdfdf;
    background-color: white;
    padding: 21px 10px 17px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
}
.dxpgDataHeadersImage_KetoSavage
{
    margin-right: 5px;
    vertical-align: -2px;
}
.dxpgPrefilterPanelContainer_KetoSavage
{
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
.dxpgPrefilterPanel_KetoSavage
{
    margin-top: 16px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    border-collapse: separate;
}
.dxpgPrefilterPanelLink_KetoSavage
{
    color: #DEDEDE;
    text-decoration: none;
}
.dxpgPrefilterPanelLink_KetoSavage:hover
{
    text-decoration: underline;
}
.dxpgPrefilterPanel_KetoSavage > tbody > tr > td
{
    padding-top: 14px;
    padding-bottom: 14px;
}
.dxpgPrefilterPanelCheckBoxCell_KetoSavage
{
    padding-left: 20px;
}
.dxpgPrefilterPanelImageCell_KetoSavage
{
    padding: 0 8px 0 20px;
    cursor: pointer;
}
.dxpgPrefilterPanelImageCell_KetoSavage img
{
    margin-top: 3px;
}
.dxpgPrefilterPanelExpressionCell_KetoSavage
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxpgPrefilterPanelClearButtonCell_KetoSavage
{
    padding: 5px 20px 8px 6px;
}
.dxpgFilterBuilderMainArea_KetoSavage
{
    background: white;
    padding: 6px 2px;
}
.dxpgFilterBuilderButtonArea_KetoSavage
{
    border-top: 1px solid #eaeaea;
    padding: 10px;
    white-space: nowrap;
}
.dxpgFilterBuilderButtonArea_KetoSavage .dxbButton_KetoSavage
{
    margin-left: 8px;
}
.dxpgGroupSeparator_KetoSavage
{
    vertical-align: middle;
}
.dxpgFLListDiv_KetoSavage .dxpgHeaderTable_KetoSavage
{
    padding: 4px 1px;
}
.dxpgCustFieldsFilterAreaHeaders_KetoSavage,
.dxpgCustFieldsRowAreaHeaders_KetoSavage,
.dxpgCustFieldsColumnAreaHeaders_KetoSavage,
.dxpgCustFieldsDataAreaHeaders_KetoSavage,
.BottomPanelOnly1by4 .dxpgFLFRDiv_KetoSavage,
.BottomPanelOnly1by4 .dxpgFLCDDiv_KetoSavage
{
    width: 100%;
    height: 50%;
}
.StackedDefault .dxpgCustFieldsFieldList_KetoSavage
{
    height: 34%;
}
.StackedDefault .dxpgFLFRDiv_KetoSavage
{
    width: 50%;
    height: 66%;
    float: left;
}
.StackedDefault .dxpgFLCDDiv_KetoSavage
{
    width: 50%;
    height: 66%;
    float: right;
}
.StackedDefault .dxpgCustFieldsFilterAreaHeaders_KetoSavage .dxpgFLTextDiv_KetoSavage,
.StackedDefault .dxpgCustFieldsColumnAreaHeaders_KetoSavage .dxpgFLTextDiv_KetoSavage
{
    height: 47px;
}
.TopPanelOnly .dxpgCustFieldsFieldList_KetoSavage
{
    width: 100%;
    height: 100%;
}
.TopPanelOnly .dxpgFLDefereDiv_KetoSavage .dxeBase_KetoSavage,
.TopPanelOnly .dxpgFLDefereDiv_KetoSavage .dxpgFLDefereDB_KetoSavage,
.TopPanelOnly .dxpgFLFRDiv_KetoSavage,
.TopPanelOnly .dxpgFLCDDiv_KetoSavage,
.BottomPanelOnly1by4 .dxpgCustFieldsFieldList_KetoSavage,
.BottomPanelOnly2by2 .dxpgCustFieldsFieldList_KetoSavage,
.TopPanelOnly .dxpgFLTextDiv_KetoSavage div
{
    display: none;
}
.TopPanelOnly .dxpgFLTextDiv_KetoSavage
{
    height: 19px;
}
.TopPanelOnly .dxpgFLDefereDiv_KetoSavage
{
    height: 16px;
}
.BottomPanelOnly2by2 .dxpgFLFRDiv_KetoSavage,
.StackedSideBySide .dxpgCustFieldsFieldList_KetoSavage
{
    width: 50%;
    height: 100%;
    float: left;
}
.BottomPanelOnly2by2 .dxpgFLCDDiv_KetoSavage
{
    width: 50%;
    height: 100%;
    float: right;
}
.StackedSideBySide .dxpgFLFRDiv_KetoSavage,
.StackedSideBySide .dxpgFLCDDiv_KetoSavage
{
    width: 50%;
    height: 50%;
    float: right;
}
.dxpgCustFields_KetoSavage
{
    display: block;
    position: relative;
}
.dxpgFLListDiv_KetoSavage > div
{
    border: 1px solid #dfdfdf;
    position: relative;
    display: block;
    height: 100%;
    padding: 1px;
    background: #FFFFFF;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.dxpgFLListDiv_KetoSavage > div > div
{
    position: relative;
    display: block;
    background: #FFFFFF;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}
.DragOver .dxpgFLListDiv_KetoSavage > div
{
    background: #FFD324;
}
.dxpgFLListDiv_KetoSavage
{
    padding: 0px 3px 0px 3px;
}
.dxpgFLButtonDiv_KetoSavage .dxbButton_KetoSavage div.dxb
{
    border: dotted 1px transparent;
}
.dxpgFLTextDiv_KetoSavage
{
    height: 44px;
}
.dxpgFLTextDiv_KetoSavage div
{
    display: block;
    float: left;
    margin: -17px 0px 3px 0px;
    left: 6px;
    top: 100%;
    position: relative;
}
div.dxpgFLTextImgDiv_KetoSavage
{
    display: block;
    height: 16px;
    width: 16px;
    margin: -18px 0px 3px 0px;
    left: 3px;
}
.dxpgFLButtonDiv_KetoSavage
{
    float: right;
    height: 40px;
    position: relative;
    z-index: 1;
}
.dxpgFLDefereDiv_KetoSavage
{
    height: 64px;
}
.dxpgCustFieldsDiv_KetoSavage
{
    clear: both;
    padding: 0 9px;
}
.dxpgFLButton_KetoSavage
{
    margin: 12px 12px 0px 0px;
    width: 40px;
    height: 23px;
}
.dxbButton_KetoSavage.dxbTSys.dxpgFLButton_KetoSavage
{
    min-width: 44px;
}
.dxpgFLDefereDiv_KetoSavage .dxeBase_KetoSavage
{
    float: left;
    display: block;
    border-collapse: separate;
    padding: 17px 0px 0px 0px;
    margin-left: 8px;
}
.dxpgFLDefereDB_KetoSavage
{
    float: right;
    display: block;
    margin: 16px 12px 0 0;
}
.dxpgFLDefereDiv_KetoSavage .dxbButton_KetoSavage div.dxb
{
    border: dotted 1px transparent;
}
.dxpgFLDefereDiv_KetoSavage .dxbButton_KetoSavage div.dxbf
{
    border: dotted 1px black;
}
.dxpgFLListDiv_KetoSavage table
{
    width: 100%;
    table-layout: fixed;
    overflow: visible;
}
.dxpgFLListDiv_KetoSavage table table td
{
    overflow: hidden;
}
/*Loading Panel*/
.dxpgLoadingPanel_KetoSavage
{
    background-color: white;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxpgLoadingPanel_KetoSavage td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxpgLoadingPanel_KetoSavage .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #DEDEDE;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxpgLoadingPanel_KetoSavage .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
.dxpgVScrollBarAreaCell_KetoSavage
{
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.dxpgHScrollBarAreaCell_KetoSavage
{
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}
.dxpgScrollBarEdgeCell_KetoSavage
{
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}
/*Ripple*/
.dxpgControl_KetoSavage .dxpgRowArea_KetoSavage .dxpgHeaderTable_KetoSavage::before,
.dxpgControl_KetoSavage .dxpgArea_KetoSavage .dxpgHeaderTable_KetoSavage::before,
.dxpgControl_KetoSavage .dxpgCustomizationFieldsContent_KetoSavage .dxpgHeaderTable_KetoSavage::before
{
    content: "dxRippleTarget";
    display: none;
}
.dxPivotGrid_pgGroupSeparator_KetoSavage
{
    width: 8px !important;
}

