.dx-acc-r .dxctToolbar_KetoSavage .dxm-hovered .dxWeb_mAdaptiveMenu_KetoSavage:before,
.dx-acc-r .dxctToolbar_KetoSavage .dxm-hovered .dxWeb_mHorizontalPopOut_KetoSavage:before,
.dx-acc-r .dxctToolbar_KetoSavage .dxWeb_mAdaptiveMenu_KetoSavage:before,
.dx-acc-r .dxeListBoxItemSelected_KetoSavage .dxWeb_edtCheckBoxChecked_KetoSavage:before,
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmCopyButton_KetoSavage:before,
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmCreateButton_KetoSavage:before,
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmDeleteButton_KetoSavage:before,
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmDwnlButton_KetoSavage:before,
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmMoveButton_KetoSavage:before,
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmRefreshButton_KetoSavage:before,
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmRenameButton_KetoSavage:before,
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmUplButton_KetoSavage:before,
.dx-acc-r .dxfm-file .dxWeb_edtCheckBoxChecked_KetoSavage:before,
.dx-acc-r .dxfm-file .dxWeb_edtCheckBoxUnchecked_KetoSavage:before,
.dx-acc-r .dxgvFocusedRow_KetoSavage .dxWeb_edtCheckBoxChecked_KetoSavage:before,
.dx-acc-r .dxgvFocusedRow_KetoSavage .dxWeb_edtCheckBoxGrayed_KetoSavage:before,
.dx-acc-r .dxgvFocusedRow_KetoSavage .dxWeb_edtCheckBoxUnchecked_KetoSavage:before,
.dx-acc-r .dxigControl_KetoSavage.dxTouchUI .dxWeb_igCloseButton_KetoSavage:before,
.dx-acc-r .dxigControl_KetoSavage.dxTouchUI .dxWeb_igPauseButton_KetoSavage:before,
.dx-acc-r .dxigControl_KetoSavage.dxTouchUI .dxWeb_igPlayButton_KetoSavage:before,
.dx-acc-r .dxm-checked .dxWeb_mHorizontalPopOut_KetoSavage:before,
.dx-acc-r .dxm-checked .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxm-checked .dxWeb_mVerticalPopOutRtl_KetoSavage:before,
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mHorizontalPopOut_KetoSavage:before,
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mSubMenuItemChecked_KetoSavage:before,
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mVerticalPopOutRtl_KetoSavage:before,
.dx-acc-r .dxm-disabled .dxWeb_mHorizontalPopOut_KetoSavage:before,
.dx-acc-r .dxm-disabled .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxm-disabled .dxWeb_mVerticalPopOutRtl_KetoSavage:before,
.dx-acc-r .dxm-hovered .dxWeb_fmCopyButton_KetoSavage:before,
.dx-acc-r .dxm-hovered .dxWeb_fmCreateButton_KetoSavage:before,
.dx-acc-r .dxm-hovered .dxWeb_fmDeleteButton_KetoSavage:before,
.dx-acc-r .dxm-hovered .dxWeb_fmDwnlButton_KetoSavage:before,
.dx-acc-r .dxm-hovered .dxWeb_fmMoveButton_KetoSavage:before,
.dx-acc-r .dxm-hovered .dxWeb_fmRefreshButton_KetoSavage:before,
.dx-acc-r .dxm-hovered .dxWeb_fmRenameButton_KetoSavage:before,
.dx-acc-r .dxm-hovered .dxWeb_fmUplButton_KetoSavage:before,
.dx-acc-r .dxm-hovered .dxWeb_mAdaptiveMenu_KetoSavage:before,
.dx-acc-r .dxm-hovered .dxWeb_mHorizontalPopOut_KetoSavage:before,
.dx-acc-r .dxm-hovered .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxm-hovered .dxWeb_mVerticalPopOutRtl_KetoSavage:before,
.dx-acc-r .dxmLite_KetoSavage .dxm-left .dxm-back-icon:before,
.dx-acc-r .dxm-scrollBtnHovered .dxWeb_mScrollDown_KetoSavage:before,
.dx-acc-r .dxm-scrollBtnHovered .dxWeb_mScrollUp_KetoSavage:before,
.dx-acc-r .dxm-scrollBtnPressed .dxWeb_mScrollDown_KetoSavage:before,
.dx-acc-r .dxm-scrollBtnPressed .dxWeb_mScrollUp_KetoSavage:before,
.dx-acc-r .dxm-selected .dxWeb_mHorizontalPopOut_KetoSavage:before,
.dx-acc-r .dxm-selected .dxWeb_mSubMenuItemChecked_KetoSavage:before,
.dx-acc-r .dxm-selected .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxm-selected .dxWeb_mVerticalPopOutRtl_KetoSavage:before,
.dx-acc-r .dxm-selected.dxm-hovered .dxWeb_mHorizontalPopOut_KetoSavage:before,
.dx-acc-r .dxm-selected.dxm-hovered .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxm-selected.dxm-hovered .dxWeb_mVerticalPopOutRtl_KetoSavage:before,
.dx-acc-r .dxm-vertical .dxm-checked .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxm-vertical .dxm-checked.dxm-hovered .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxm-vertical .dxm-hovered .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxm-vertical .dxm-selected .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxm-vertical .dxm-selected.dxm-hovered .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxm-vertical .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_KetoSavage:before,
.dx-acc-r .dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_KetoSavage:before,
.dx-acc-r .dxpc-pinBtnChecked .dxWeb_pcPinButton_KetoSavage:before,
.dx-acc-r .dxp-hoverDropDownButton .dxWeb_pPopOut_KetoSavage:before,
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpand_KetoSavage:before,
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowBottom_KetoSavage:before,
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowLeft_KetoSavage:before,
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowRight_KetoSavage:before,
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowTop_KetoSavage:before,
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpand_KetoSavage:before,
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_KetoSavage:before,
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_KetoSavage:before,
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_KetoSavage:before,
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpand_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowRight_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowTop_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpand_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowBottom_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowLeft_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowRight_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowTop_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpand_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_KetoSavage:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_KetoSavage:before,
.dx-acc-r .dxp-pressedDropDownButton .dxWeb_pPopOut_KetoSavage:before,
.dx-acc-r .dxr-glrBtnPressed .dxWeb_rGlrDown_KetoSavage:before,
.dx-acc-r .dxr-glrBtnPressed .dxWeb_rGlrPopOut_KetoSavage:before,
.dx-acc-r .dxr-glrBtnPressed .dxWeb_rGlrUp_KetoSavage:before,
.dx-acc-r .dxr-grExpBtnHover .dxWeb_rPopOut_KetoSavage:before,
.dx-acc-r .dxr-grExpBtnPressed .dxWeb_rPopOut_KetoSavage:before,
.dx-acc-r .dxr-itemDisabled .dxWeb_rPopOut_KetoSavage:before,
.dx-acc-r .dxr-itemHover .dxWeb_rPopOut_KetoSavage:before,
.dx-acc-r .dxr-itemPressed .dxWeb_rPopOut_KetoSavage:before,
.dx-acc-r .dxrp-collapseBtnHover .dxWeb_rpCollapseButton_KetoSavage:before,
.dx-acc-r .dxrp-collapseBtnPressed .dxWeb_rpCollapseButton_KetoSavage:before,
.dx-acc-r .dxrpCollapsed .dxrp-collapseBtnHover .dxWeb_rpCollapseButton_KetoSavage:before,
.dx-acc-r .dxrpCollapsed .dxrp-collapseBtnPressed .dxWeb_rpCollapseButton_KetoSavage:before,
.dx-acc-r .dxrpCollapsed .dxWeb_rpCollapseButton_KetoSavage:before,
.dx-acc-r .dxtlFocusedNode_KetoSavage .dxWeb_edtCheckBoxChecked_KetoSavage:before,
.dx-acc-r .dxtlFocusedNode_KetoSavage .dxWeb_edtCheckBoxGrayed_KetoSavage:before,
.dx-acc-r .dxtlFocusedNode_KetoSavage .dxWeb_edtCheckBoxUnchecked_KetoSavage:before,
.dx-acc-r .dxtv-ndSel .dxWeb_edtCheckBoxChecked_KetoSavage:before,
.dx-acc-r .dxtv-ndSel .dxWeb_edtCheckBoxGrayed_KetoSavage:before,
.dx-acc-r .dxtv-ndSel .dxWeb_edtCheckBoxUnchecked_KetoSavage:before,
.dx-acc-r .dxtv-ndSel .dxWeb_fmFolder_KetoSavage:before,
.dx-acc-r .dxtv-ndSel .dxWeb_fmFolderLocked_KetoSavage:before,
.dx-acc-r .dxWeb_edtCheckBoxChecked_KetoSavage:before,
.dx-acc-r .dxWeb_edtCheckBoxCheckedDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_edtCheckBoxGrayed_KetoSavage:before,
.dx-acc-r .dxWeb_edtCheckBoxGrayedDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_edtCheckBoxUnchecked_KetoSavage:before,
.dx-acc-r .dxWeb_edtCheckBoxUncheckedDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_fmBreadCrumbsSeparatorArrow_KetoSavage:before,
.dx-acc-r .dxWeb_fmBreadCrumbsUpButton_KetoSavage:before,
.dx-acc-r .dxWeb_fmBreadCrumbsUpButtonDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_fmBreadCrumbsUpButtonHover_KetoSavage:before,
.dx-acc-r .dxWeb_fmCopyButton_KetoSavage:before,
.dx-acc-r .dxWeb_fmCopyButtonDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_fmCreateButton_KetoSavage:before,
.dx-acc-r .dxWeb_fmCreateButtonDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_fmDeleteButton_KetoSavage:before,
.dx-acc-r .dxWeb_fmDeleteButtonDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_fmDwnlButton_KetoSavage:before,
.dx-acc-r .dxWeb_fmDwnlButtonDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_fmExpandFolderContBtn_KetoSavage:before,
.dx-acc-r .dxWeb_fmFolder_KetoSavage:before,
.dx-acc-r .dxWeb_fmFolderLocked_KetoSavage:before,
.dx-acc-r .dxWeb_fmMoveButton_KetoSavage:before,
.dx-acc-r .dxWeb_fmMoveButtonDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_fmRefreshButton_KetoSavage:before,
.dx-acc-r .dxWeb_fmRefreshButtonDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_fmRenameButton_KetoSavage:before,
.dx-acc-r .dxWeb_fmRenameButtonDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_fmUplButton_KetoSavage:before,
.dx-acc-r .dxWeb_fmUplButtonDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_igCloseButton_KetoSavage:before,
.dx-acc-r .dxWeb_igNavigationBarMarker_KetoSavage:before,
.dx-acc-r .dxWeb_igNextButton_KetoSavage:before,
.dx-acc-r .dxWeb_igNextButtonDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_igNextButtonHover_KetoSavage:before,
.dx-acc-r .dxWeb_igNextButtonPressed_KetoSavage:before,
.dx-acc-r .dxWeb_igPauseButton_KetoSavage:before,
.dx-acc-r .dxWeb_igPlayButton_KetoSavage:before,
.dx-acc-r .dxWeb_igPrevButton_KetoSavage:before,
.dx-acc-r .dxWeb_igPrevButtonDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_igPrevButtonHover_KetoSavage:before,
.dx-acc-r .dxWeb_igPrevButtonPressed_KetoSavage:before,
.dx-acc-r .dxWeb_isDot_KetoSavage:before,
.dx-acc-r .dxWeb_isDotDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_isDotPressed_KetoSavage:before,
.dx-acc-r .dxWeb_isDotSelected_KetoSavage:before,
.dx-acc-r .dxWeb_isNextBtnHor_KetoSavage:before,
.dx-acc-r .dxWeb_isNextBtnHorDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_isNextBtnVert_KetoSavage:before,
.dx-acc-r .dxWeb_isNextBtnVertDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_isNextPageBtnHor_KetoSavage:before,
.dx-acc-r .dxWeb_isNextPageBtnHorDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_isNextPageBtnHorOutside_KetoSavage:before,
.dx-acc-r .dxWeb_isNextPageBtnHorOutsideDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_isNextPageBtnVert_KetoSavage:before,
.dx-acc-r .dxWeb_isNextPageBtnVertDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_isNextPageBtnVertOutside_KetoSavage:before,
.dx-acc-r .dxWeb_isNextPageBtnVertOutsideDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_isPauseBtn_KetoSavage:before,
.dx-acc-r .dxWeb_isPlayBtn_KetoSavage:before,
.dx-acc-r .dxWeb_isPrevBtnHor_KetoSavage:before,
.dx-acc-r .dxWeb_isPrevBtnHorDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_isPrevBtnVert_KetoSavage:before,
.dx-acc-r .dxWeb_isPrevBtnVertDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_isPrevPageBtnHor_KetoSavage:before,
.dx-acc-r .dxWeb_isPrevPageBtnHorDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_isPrevPageBtnHorOutside_KetoSavage:before,
.dx-acc-r .dxWeb_isPrevPageBtnHorOutsideDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_isPrevPageBtnVert_KetoSavage:before,
.dx-acc-r .dxWeb_isPrevPageBtnVertDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_isPrevPageBtnVertOutside_KetoSavage:before,
.dx-acc-r .dxWeb_isPrevPageBtnVertOutsideDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_izEWCloseButton_KetoSavage:before,
.dx-acc-r .dxWeb_izHint_KetoSavage:before,
.dx-acc-r .dxWeb_mAdaptiveMenu_KetoSavage:before,
.dx-acc-r .dxWeb_mHorizontalPopOut_KetoSavage:before,
.dx-acc-r .dxWeb_mScrollDown_KetoSavage:before,
.dx-acc-r .dxWeb_mScrollUp_KetoSavage:before,
.dx-acc-r .dxWeb_mSubMenuItem_KetoSavage:before,
.dx-acc-r .dxWeb_mSubMenuItemChecked_KetoSavage:before,
.dx-acc-r .dxWeb_mVerticalPopOut_KetoSavage:before,
.dx-acc-r .dxWeb_mVerticalPopOutRtl_KetoSavage:before,
.dx-acc-r .dxWeb_nbCollapse_KetoSavage:before,
.dx-acc-r .dxWeb_nbExpand_KetoSavage:before,
.dx-acc-r .dxWeb_pAll_KetoSavage:before,
.dx-acc-r .dxWeb_pAllDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_pcCloseButton_KetoSavage:before,
.dx-acc-r .dxWeb_pcCollapseButton_KetoSavage:before,
.dx-acc-r .dxWeb_pcExpandButton_KetoSavage:before,
.dx-acc-r .dxWeb_pcMaximizeButton_KetoSavage:before,
.dx-acc-r .dxWeb_pcPinButton_KetoSavage:before,
.dx-acc-r .dxWeb_pcRefreshButton_KetoSavage:before,
.dx-acc-r .dxWeb_pcSizeGrip_KetoSavage:before,
.dx-acc-r .dxWeb_pcSizeGripRtl_KetoSavage:before,
.dx-acc-r .dxWeb_pFirst_KetoSavage:before,
.dx-acc-r .dxWeb_pFirstDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_pLast_KetoSavage:before,
.dx-acc-r .dxWeb_pLastDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_pNext_KetoSavage:before,
.dx-acc-r .dxWeb_pNextDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_pnlExpand_KetoSavage:before,
.dx-acc-r .dxWeb_pnlExpandArrowBottom_KetoSavage:before,
.dx-acc-r .dxWeb_pnlExpandArrowLeft_KetoSavage:before,
.dx-acc-r .dxWeb_pnlExpandArrowRight_KetoSavage:before,
.dx-acc-r .dxWeb_pnlExpandArrowTop_KetoSavage:before,
.dx-acc-r .dxWeb_pPopOut_KetoSavage:before,
.dx-acc-r .dxWeb_pPopOutDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_pPrev_KetoSavage:before,
.dx-acc-r .dxWeb_pPrevDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_rDialogBoxLauncher_KetoSavage:before,
.dx-acc-r .dxWeb_rDialogBoxLauncherDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_rDialogBoxLauncherHover_KetoSavage:before,
.dx-acc-r .dxWeb_rDialogBoxLauncherPressed_KetoSavage:before,
.dx-acc-r .dxWeb_rGlrDown_KetoSavage:before,
.dx-acc-r .dxWeb_rGlrDownDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_rGlrDownHover_KetoSavage:before,
.dx-acc-r .dxWeb_rGlrPopOut_KetoSavage:before,
.dx-acc-r .dxWeb_rGlrPopOutDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_rGlrPopOutHover_KetoSavage:before,
.dx-acc-r .dxWeb_rGlrUp_KetoSavage:before,
.dx-acc-r .dxWeb_rGlrUpDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_rGlrUpHover_KetoSavage:before,
.dx-acc-r .dxWeb_rMinBtn_KetoSavage:before,
.dx-acc-r .dxWeb_rMinBtn_KetoSavage.dxWeb_rMinBtnHover_KetoSavage:before,
.dx-acc-r .dxWeb_rMinBtn_KetoSavage.dxWeb_rMinBtnPressed_KetoSavage:before,
.dx-acc-r .dxWeb_rMinBtnChecked_KetoSavage.dxWeb_rMinBtn_KetoSavage:before,
.dx-acc-r .dxWeb_rMinBtnChecked_KetoSavage.dxWeb_rMinBtnDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_rMinBtnChecked_KetoSavage.dxWeb_rMinBtnHover_KetoSavage:before,
.dx-acc-r .dxWeb_rMinBtnChecked_KetoSavage.dxWeb_rMinBtnPressed_KetoSavage:before,
.dx-acc-r .dxWeb_rMinBtnDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_rpCollapseButton_KetoSavage:before,
.dx-acc-r .dxWeb_rPinBtn_KetoSavage:before,
.dx-acc-r .dxWeb_rPopOut_KetoSavage:before,
.dx-acc-r .dxWeb_splHCollapseBackwardButton_KetoSavage:before,
.dx-acc-r .dxWeb_splHCollapseBackwardButtonHover_KetoSavage:before,
.dx-acc-r .dxWeb_splHCollapseForwardButton_KetoSavage:before,
.dx-acc-r .dxWeb_splHCollapseForwardButtonHover_KetoSavage:before,
.dx-acc-r .dxWeb_splHSeparator_KetoSavage:before,
.dx-acc-r .dxWeb_splHSeparatorHover_KetoSavage:before,
.dx-acc-r .dxWeb_splVCollapseBackwardButton_KetoSavage:before,
.dx-acc-r .dxWeb_splVCollapseBackwardButtonHover_KetoSavage:before,
.dx-acc-r .dxWeb_splVCollapseForwardButton_KetoSavage:before,
.dx-acc-r .dxWeb_splVCollapseForwardButtonHover_KetoSavage:before,
.dx-acc-r .dxWeb_splVSeparator_KetoSavage:before,
.dx-acc-r .dxWeb_splVSeparatorHover_KetoSavage:before,
.dx-acc-r .dxWeb_tcScrollLeft_KetoSavage:before,
.dx-acc-r .dxWeb_tcScrollLeftDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_tcScrollLeftHover_KetoSavage:before,
.dx-acc-r .dxWeb_tcScrollLeftPressed_KetoSavage:before,
.dx-acc-r .dxWeb_tcScrollRight_KetoSavage:before,
.dx-acc-r .dxWeb_tcScrollRightDisabled_KetoSavage:before,
.dx-acc-r .dxWeb_tcScrollRightHover_KetoSavage:before,
.dx-acc-r .dxWeb_tcScrollRightPressed_KetoSavage:before,
.dx-acc-r .dxWeb_tvColBtn_KetoSavage:before,
.dx-acc-r .dxWeb_tvColBtnRtl_KetoSavage:before,
.dx-acc-r .dxWeb_tvExpBtn_KetoSavage:before,
.dx-acc-r .dxWeb_tvExpBtnRtl_KetoSavage:before,
.dx-acc-r .dxWeb_ucClearButton_KetoSavage:before,
.dx-acc-r .dxWeb_ucClearButtonDisabled_KetoSavage:before,
.dx-acc-r div.dxfm-fileF .dxWeb_edtCheckBoxChecked_KetoSavage:before,
.dx-acc-r div.dxfm-fileF .dxWeb_edtCheckBoxUnchecked_KetoSavage:before,
.dx-acc-r div.dxfm-fileF.dxfm-file.dxfm-fileSA .dxWeb_edtCheckBoxChecked_KetoSavage:before,
.dx-acc-r div.dxfm-fileF.dxfm-file.dxfm-fileSI .dxWeb_edtCheckBoxChecked_KetoSavage:before,
.dx-acc-r div.dxfm-fileH.dxfm-file.dxfm-fileSA .dxWeb_edtCheckBoxChecked_KetoSavage:before,
.dx-acc-r div.dxfm-fileH.dxfm-file.dxfm-fileSI .dxWeb_edtCheckBoxChecked_KetoSavage:before,
.dx-acc-r div.dxfm-fileSA.dxfm-file .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    content: url('sprite.svg');

}
.dx-acc-r .dxctToolbar_KetoSavage .dxm-hovered .dxWeb_mAdaptiveMenu_KetoSavage:before

{
    left: 0px;
    top: -207px;

}
.dx-acc-r .dxctToolbar_KetoSavage .dxm-hovered .dxWeb_mHorizontalPopOut_KetoSavage:before

{
    left: -167px;
    top: -303px;

}
.dx-acc-r .dxctToolbar_KetoSavage .dxWeb_mAdaptiveMenu_KetoSavage:before

{
    left: -258px;
    top: -188px;

}
.dx-acc-r .dxeListBoxItemSelected_KetoSavage .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    left: -105px;
    top: -148px;

}
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmCopyButton_KetoSavage:before

{
    left: -51px;
    top: -258px;

}
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmCreateButton_KetoSavage:before

{
    left: -136px;
    top: -224px;

}
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmDeleteButton_KetoSavage:before

{
    left: -51px;
    top: -207px;

}
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmDwnlButton_KetoSavage:before

{
    left: -85px;
    top: -207px;

}
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmMoveButton_KetoSavage:before

{
    left: -119px;
    top: -241px;

}
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmRefreshButton_KetoSavage:before

{
    left: -170px;
    top: -207px;

}
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmRenameButton_KetoSavage:before

{
    left: -102px;
    top: -224px;

}
.dx-acc-r .dxfmControl_KetoSavage .dxmLite_KetoSavage .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmUplButton_KetoSavage:before

{
    left: -259px;
    top: -37px;

}
.dx-acc-r .dxfm-file .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    left: -114px;
    top: -169px;

}
.dx-acc-r .dxfm-file .dxWeb_edtCheckBoxUnchecked_KetoSavage:before

{
    left: -152px;
    top: -169px;

}
.dx-acc-r .dxgvFocusedRow_KetoSavage .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    left: -143px;
    top: -148px;

}
.dx-acc-r .dxgvFocusedRow_KetoSavage .dxWeb_edtCheckBoxGrayed_KetoSavage:before

{
    left: -76px;
    top: -188px;

}
.dx-acc-r .dxgvFocusedRow_KetoSavage .dxWeb_edtCheckBoxUnchecked_KetoSavage:before

{
    left: -181px;
    top: -148px;

}
.dx-acc-r .dxigControl_KetoSavage.dxTouchUI .dxWeb_igCloseButton_KetoSavage:before

{
    left: -63px;
    top: -148px;

}
.dx-acc-r .dxigControl_KetoSavage.dxTouchUI .dxWeb_igPauseButton_KetoSavage:before

{
    left: -153px;
    top: -111px;

}
.dx-acc-r .dxigControl_KetoSavage.dxTouchUI .dxWeb_igPlayButton_KetoSavage:before

{
    left: -195px;
    top: -111px;

}
.dx-acc-r .dxm-checked .dxWeb_mHorizontalPopOut_KetoSavage:before

{
    left: -60px;
    top: -314px;

}
.dx-acc-r .dxm-checked .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: -272px;
    top: -207px;

}
.dx-acc-r .dxm-checked .dxWeb_mVerticalPopOutRtl_KetoSavage:before

{
    left: -127px;
    top: -303px;

}
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mHorizontalPopOut_KetoSavage:before

{
    left: -177px;
    top: -303px;

}
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mSubMenuItemChecked_KetoSavage:before

{
    left: -76px;
    top: -169px;

}
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: -130px;
    top: -314px;

}
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mVerticalPopOutRtl_KetoSavage:before

{
    left: -259px;
    top: -101px;

}
.dx-acc-r .dxm-disabled .dxWeb_mHorizontalPopOut_KetoSavage:before

{
    left: -77px;
    top: -303px;

}
.dx-acc-r .dxm-disabled .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: -237px;
    top: -303px;

}
.dx-acc-r .dxm-disabled .dxWeb_mVerticalPopOutRtl_KetoSavage:before

{
    left: -107px;
    top: -303px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmCopyButton_KetoSavage:before

{
    left: -207px;
    top: -188px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmCreateButton_KetoSavage:before

{
    left: -51px;
    top: -224px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmDeleteButton_KetoSavage:before

{
    left: -136px;
    top: -241px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmDwnlButton_KetoSavage:before

{
    left: -204px;
    top: -224px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmMoveButton_KetoSavage:before

{
    left: -204px;
    top: -258px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmRefreshButton_KetoSavage:before

{
    left: -68px;
    top: -258px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmRenameButton_KetoSavage:before

{
    left: -221px;
    top: -241px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmUplButton_KetoSavage:before

{
    left: -259px;
    top: -74px;

}
.dx-acc-r .dxm-hovered .dxWeb_mAdaptiveMenu_KetoSavage:before

{
    left: -85px;
    top: -241px;

}
.dx-acc-r .dxm-hovered .dxWeb_mHorizontalPopOut_KetoSavage:before

{
    left: -217px;
    top: -303px;

}
.dx-acc-r .dxm-hovered .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: -267px;
    top: -303px;

}
.dx-acc-r .dxm-hovered .dxWeb_mVerticalPopOutRtl_KetoSavage:before

{
    left: -197px;
    top: -303px;

}
.dx-acc-r .dxmLite_KetoSavage .dxm-left .dxm-back-icon:before

{
    left: -268px;
    top: -23px;

}
.dx-acc-r .dxm-scrollBtnHovered .dxWeb_mScrollDown_KetoSavage:before

{
    left: -117px;
    top: -303px;

}
.dx-acc-r .dxm-scrollBtnHovered .dxWeb_mScrollUp_KetoSavage:before

{
    left: -272px;
    top: -258px;

}
.dx-acc-r .dxm-scrollBtnPressed .dxWeb_mScrollDown_KetoSavage:before

{
    left: -70px;
    top: -314px;

}
.dx-acc-r .dxm-scrollBtnPressed .dxWeb_mScrollUp_KetoSavage:before

{
    left: -187px;
    top: -303px;

}
.dx-acc-r .dxm-selected .dxWeb_mHorizontalPopOut_KetoSavage:before

{
    left: -40px;
    top: -314px;

}
.dx-acc-r .dxm-selected .dxWeb_mSubMenuItemChecked_KetoSavage:before

{
    left: -152px;
    top: -133px;

}
.dx-acc-r .dxm-selected .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: -207px;
    top: -303px;

}
.dx-acc-r .dxm-selected .dxWeb_mVerticalPopOutRtl_KetoSavage:before

{
    left: -257px;
    top: -303px;

}
.dx-acc-r .dxm-selected.dxm-hovered .dxWeb_mHorizontalPopOut_KetoSavage:before

{
    left: -272px;
    top: -241px;

}
.dx-acc-r .dxm-selected.dxm-hovered .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: -80px;
    top: -314px;

}
.dx-acc-r .dxm-selected.dxm-hovered .dxWeb_mVerticalPopOutRtl_KetoSavage:before

{
    left: -247px;
    top: -303px;

}
.dx-acc-r .dxm-vertical .dxm-checked .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: -30px;
    top: -314px;

}
.dx-acc-r .dxm-vertical .dxm-checked.dxm-hovered .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: -137px;
    top: -303px;

}
.dx-acc-r .dxm-vertical .dxm-hovered .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: -20px;
    top: -314px;

}
.dx-acc-r .dxm-vertical .dxm-selected .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: 0px;
    top: -314px;

}
.dx-acc-r .dxm-vertical .dxm-selected.dxm-hovered .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: -87px;
    top: -303px;

}
.dx-acc-r .dxm-vertical .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: -157px;
    top: -303px;

}
.dx-acc-r .dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_KetoSavage:before

{
    left: -242px;
    top: -133px;

}
.dx-acc-r .dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_KetoSavage:before

{
    left: -102px;
    top: -241px;

}
.dx-acc-r .dxpc-pinBtnChecked .dxWeb_pcPinButton_KetoSavage:before

{
    left: -266px;
    top: -169px;

}
.dx-acc-r .dxp-hoverDropDownButton .dxWeb_pPopOut_KetoSavage:before

{
    left: -66px;
    top: -303px;

}
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpand_KetoSavage:before

{
    left: -38px;
    top: -169px;

}
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowBottom_KetoSavage:before

{
    left: -34px;
    top: -224px;

}
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowLeft_KetoSavage:before

{
    left: -187px;
    top: -258px;

}
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowRight_KetoSavage:before

{
    left: -119px;
    top: -224px;

}
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowTop_KetoSavage:before

{
    left: -190px;
    top: -188px;

}
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpand_KetoSavage:before

{
    left: -257px;
    top: -148px;

}
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_KetoSavage:before

{
    left: -255px;
    top: -258px;

}
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_KetoSavage:before

{
    left: -153px;
    top: -207px;

}
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_KetoSavage:before

{
    left: -255px;
    top: -224px;

}
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_KetoSavage:before

{
    left: -187px;
    top: -207px;

}
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpand_KetoSavage:before

{
    left: -34px;
    top: -207px;

}
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom_KetoSavage:before

{
    left: -85px;
    top: -258px;

}
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft_KetoSavage:before

{
    left: -34px;
    top: -241px;

}
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowRight_KetoSavage:before

{
    left: -51px;
    top: -241px;

}
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowTop_KetoSavage:before

{
    left: -187px;
    top: -241px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpand_KetoSavage:before

{
    left: -17px;
    top: -207px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowBottom_KetoSavage:before

{
    left: -255px;
    top: -241px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowLeft_KetoSavage:before

{
    left: -153px;
    top: -224px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowRight_KetoSavage:before

{
    left: -170px;
    top: -224px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowTop_KetoSavage:before

{
    left: -68px;
    top: -224px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpand_KetoSavage:before

{
    left: -102px;
    top: -258px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_KetoSavage:before

{
    left: -102px;
    top: -207px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_KetoSavage:before

{
    left: -238px;
    top: -258px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_KetoSavage:before

{
    left: -136px;
    top: -258px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_KetoSavage:before

{
    left: -241px;
    top: -188px;

}
.dx-acc-r .dxp-pressedDropDownButton .dxWeb_pPopOut_KetoSavage:before

{
    left: -11px;
    top: -303px;

}
.dx-acc-r .dxr-glrBtnPressed .dxWeb_rGlrDown_KetoSavage:before

{
    left: -268px;
    top: -314px;

}
.dx-acc-r .dxr-glrBtnPressed .dxWeb_rGlrPopOut_KetoSavage:before

{
    left: -148px;
    top: -314px;

}
.dx-acc-r .dxr-glrBtnPressed .dxWeb_rGlrUp_KetoSavage:before

{
    left: -259px;
    top: -24px;

}
.dx-acc-r .dxr-grExpBtnHover .dxWeb_rPopOut_KetoSavage:before

{
    left: -147px;
    top: -303px;

}
.dx-acc-r .dxr-grExpBtnPressed .dxWeb_rPopOut_KetoSavage:before

{
    left: -90px;
    top: -314px;

}
.dx-acc-r .dxr-itemDisabled .dxWeb_rPopOut_KetoSavage:before

{
    left: -110px;
    top: -314px;

}
.dx-acc-r .dxr-itemHover .dxWeb_rPopOut_KetoSavage:before

{
    left: -10px;
    top: -314px;

}
.dx-acc-r .dxr-itemPressed .dxWeb_rPopOut_KetoSavage:before

{
    left: -259px;
    top: -64px;

}
.dx-acc-r .dxrp-collapseBtnHover .dxWeb_rpCollapseButton_KetoSavage:before

{
    left: -251px;
    top: -275px;

}
.dx-acc-r .dxrp-collapseBtnPressed .dxWeb_rpCollapseButton_KetoSavage:before

{
    left: -65px;
    top: -290px;

}
.dx-acc-r .dxrpCollapsed .dxrp-collapseBtnHover .dxWeb_rpCollapseButton_KetoSavage:before

{
    left: -82px;
    top: -275px;

}
.dx-acc-r .dxrpCollapsed .dxrp-collapseBtnPressed .dxWeb_rpCollapseButton_KetoSavage:before

{
    left: -147px;
    top: -275px;

}
.dx-acc-r .dxrpCollapsed .dxWeb_rpCollapseButton_KetoSavage:before

{
    left: -269px;
    top: -61px;

}
.dx-acc-r .dxtlFocusedNode_KetoSavage .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    left: 0px;
    top: -169px;

}
.dx-acc-r .dxtlFocusedNode_KetoSavage .dxWeb_edtCheckBoxGrayed_KetoSavage:before

{
    left: -247px;
    top: -169px;

}
.dx-acc-r .dxtlFocusedNode_KetoSavage .dxWeb_edtCheckBoxUnchecked_KetoSavage:before

{
    left: -38px;
    top: -188px;

}
.dx-acc-r .dxtv-ndSel .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    left: -114px;
    top: -188px;

}
.dx-acc-r .dxtv-ndSel .dxWeb_edtCheckBoxGrayed_KetoSavage:before

{
    left: -57px;
    top: -188px;

}
.dx-acc-r .dxtv-ndSel .dxWeb_edtCheckBoxUnchecked_KetoSavage:before

{
    left: -133px;
    top: -169px;

}
.dx-acc-r .dxtv-ndSel .dxWeb_fmFolder_KetoSavage:before

{
    left: -221px;
    top: -207px;

}
.dx-acc-r .dxtv-ndSel .dxWeb_fmFolderLocked_KetoSavage:before

{
    left: -153px;
    top: -258px;

}
.dx-acc-r .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    left: -57px;
    top: -169px;

}
.dx-acc-r .dxWeb_edtCheckBoxCheckedDisabled_KetoSavage:before

{
    left: -133px;
    top: -188px;

}
.dx-acc-r .dxWeb_edtCheckBoxGrayed_KetoSavage:before

{
    left: 0px;
    top: -188px;

}
.dx-acc-r .dxWeb_edtCheckBoxGrayedDisabled_KetoSavage:before

{
    left: -152px;
    top: -188px;

}
.dx-acc-r .dxWeb_edtCheckBoxUnchecked_KetoSavage:before

{
    left: -219px;
    top: -148px;

}
.dx-acc-r .dxWeb_edtCheckBoxUncheckedDisabled_KetoSavage:before

{
    left: -95px;
    top: -169px;

}
.dx-acc-r .dxWeb_fmBreadCrumbsSeparatorArrow_KetoSavage:before

{
    left: -276px;
    top: -148px;

}
.dx-acc-r .dxWeb_fmBreadCrumbsUpButton_KetoSavage:before

{
    left: -238px;
    top: -207px;

}
.dx-acc-r .dxWeb_fmBreadCrumbsUpButtonDisabled_KetoSavage:before

{
    left: -204px;
    top: -241px;

}
.dx-acc-r .dxWeb_fmBreadCrumbsUpButtonHover_KetoSavage:before

{
    left: -187px;
    top: -224px;

}
.dx-acc-r .dxWeb_fmCopyButton_KetoSavage:before

{
    left: -17px;
    top: -224px;

}
.dx-acc-r .dxWeb_fmCopyButtonDisabled_KetoSavage:before

{
    left: -119px;
    top: -207px;

}
.dx-acc-r .dxWeb_fmCreateButton_KetoSavage:before

{
    left: -68px;
    top: -207px;

}
.dx-acc-r .dxWeb_fmCreateButtonDisabled_KetoSavage:before

{
    left: -221px;
    top: -258px;

}
.dx-acc-r .dxWeb_fmDeleteButton_KetoSavage:before

{
    left: -85px;
    top: -224px;

}
.dx-acc-r .dxWeb_fmDeleteButtonDisabled_KetoSavage:before

{
    left: 0px;
    top: -258px;

}
.dx-acc-r .dxWeb_fmDwnlButton_KetoSavage:before

{
    left: -238px;
    top: -224px;

}
.dx-acc-r .dxWeb_fmDwnlButtonDisabled_KetoSavage:before

{
    left: -170px;
    top: -258px;

}
.dx-acc-r .dxWeb_fmExpandFolderContBtn_KetoSavage:before

{
    left: -95px;
    top: -188px;

}
.dx-acc-r .dxWeb_fmFolder_KetoSavage:before

{
    left: -238px;
    top: -241px;

}
.dx-acc-r .dxWeb_fmFolderLocked_KetoSavage:before

{
    left: -170px;
    top: -241px;

}
.dx-acc-r .dxWeb_fmMoveButton_KetoSavage:before

{
    left: 0px;
    top: -241px;

}
.dx-acc-r .dxWeb_fmMoveButtonDisabled_KetoSavage:before

{
    left: -221px;
    top: -224px;

}
.dx-acc-r .dxWeb_fmRefreshButton_KetoSavage:before

{
    left: -136px;
    top: -207px;

}
.dx-acc-r .dxWeb_fmRefreshButtonDisabled_KetoSavage:before

{
    left: -224px;
    top: -188px;

}
.dx-acc-r .dxWeb_fmRenameButton_KetoSavage:before

{
    left: -119px;
    top: -258px;

}
.dx-acc-r .dxWeb_fmRenameButtonDisabled_KetoSavage:before

{
    left: -34px;
    top: -258px;

}
.dx-acc-r .dxWeb_fmUplButton_KetoSavage:before

{
    left: 0px;
    top: -224px;

}
.dx-acc-r .dxWeb_fmUplButtonDisabled_KetoSavage:before

{
    left: -259px;
    top: 0px;

}
.dx-acc-r .dxWeb_igCloseButton_KetoSavage:before

{
    left: -216px;
    top: -111px;

}
.dx-acc-r .dxWeb_igNavigationBarMarker_KetoSavage:before

{
    left: 0px;
    top: -290px;

}
.dx-acc-r .dxWeb_igNextButton_KetoSavage:before

{
    left: -185px;
    top: -74px;

}
.dx-acc-r .dxWeb_igNextButtonDisabled_KetoSavage:before

{
    left: -111px;
    top: 0px;

}
.dx-acc-r .dxWeb_igNextButtonHover_KetoSavage:before

{
    left: -74px;
    top: -74px;

}
.dx-acc-r .dxWeb_igNextButtonPressed_KetoSavage:before

{
    left: -74px;
    top: 0px;

}
.dx-acc-r .dxWeb_igPauseButton_KetoSavage:before

{
    left: -84px;
    top: -148px;

}
.dx-acc-r .dxWeb_igPlayButton_KetoSavage:before

{
    left: -111px;
    top: -111px;

}
.dx-acc-r .dxWeb_igPrevButton_KetoSavage:before

{
    left: -37px;
    top: -37px;

}
.dx-acc-r .dxWeb_igPrevButtonDisabled_KetoSavage:before

{
    left: -37px;
    top: -111px;

}
.dx-acc-r .dxWeb_igPrevButtonHover_KetoSavage:before

{
    left: -222px;
    top: -74px;

}
.dx-acc-r .dxWeb_igPrevButtonPressed_KetoSavage:before

{
    left: -111px;
    top: -74px;

}
.dx-acc-r .dxWeb_isDot_KetoSavage:before

{
    left: -174px;
    top: -111px;

}
.dx-acc-r .dxWeb_isDotDisabled_KetoSavage:before

{
    left: -42px;
    top: -148px;

}
.dx-acc-r .dxWeb_isDotPressed_KetoSavage:before

{
    left: -21px;
    top: -148px;

}
.dx-acc-r .dxWeb_isDotSelected_KetoSavage:before

{
    left: -258px;
    top: -111px;

}
.dx-acc-r .dxWeb_isNextBtnHor_KetoSavage:before

{
    left: 0px;
    top: -37px;

}
.dx-acc-r .dxWeb_isNextBtnHorDisabled_KetoSavage:before

{
    left: -222px;
    top: 0px;

}
.dx-acc-r .dxWeb_isNextBtnVert_KetoSavage:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxWeb_isNextBtnVertDisabled_KetoSavage:before

{
    left: -111px;
    top: -37px;

}
.dx-acc-r .dxWeb_isNextPageBtnHor_KetoSavage:before

{
    left: -173px;
    top: -275px;

}
.dx-acc-r .dxWeb_isNextPageBtnHorDisabled_KetoSavage:before

{
    left: -13px;
    top: -290px;

}
.dx-acc-r .dxWeb_isNextPageBtnHorOutside_KetoSavage:before

{
    left: -74px;
    top: -37px;

}
.dx-acc-r .dxWeb_isNextPageBtnHorOutsideDisabled_KetoSavage:before

{
    left: 0px;
    top: -74px;

}
.dx-acc-r .dxWeb_isNextPageBtnVert_KetoSavage:before

{
    left: -264px;
    top: -275px;

}
.dx-acc-r .dxWeb_isNextPageBtnVertDisabled_KetoSavage:before

{
    left: -234px;
    top: -290px;

}
.dx-acc-r .dxWeb_isNextPageBtnVertOutside_KetoSavage:before

{
    left: -185px;
    top: 0px;

}
.dx-acc-r .dxWeb_isNextPageBtnVertOutsideDisabled_KetoSavage:before

{
    left: -148px;
    top: -74px;

}
.dx-acc-r .dxWeb_isPauseBtn_KetoSavage:before

{
    left: 0px;
    top: -148px;

}
.dx-acc-r .dxWeb_isPlayBtn_KetoSavage:before

{
    left: -132px;
    top: -111px;

}
.dx-acc-r .dxWeb_isPrevBtnHor_KetoSavage:before

{
    left: -37px;
    top: -74px;

}
.dx-acc-r .dxWeb_isPrevBtnHorDisabled_KetoSavage:before

{
    left: -185px;
    top: -37px;

}
.dx-acc-r .dxWeb_isPrevBtnVert_KetoSavage:before

{
    left: -222px;
    top: -37px;

}
.dx-acc-r .dxWeb_isPrevBtnVertDisabled_KetoSavage:before

{
    left: -37px;
    top: 0px;

}
.dx-acc-r .dxWeb_isPrevPageBtnHor_KetoSavage:before

{
    left: -195px;
    top: -290px;

}
.dx-acc-r .dxWeb_isPrevPageBtnHorDisabled_KetoSavage:before

{
    left: -30px;
    top: -275px;

}
.dx-acc-r .dxWeb_isPrevPageBtnHorOutside_KetoSavage:before

{
    left: -74px;
    top: -111px;

}
.dx-acc-r .dxWeb_isPrevPageBtnHorOutsideDisabled_KetoSavage:before

{
    left: -148px;
    top: -37px;

}
.dx-acc-r .dxWeb_isPrevPageBtnVert_KetoSavage:before

{
    left: -247px;
    top: -290px;

}
.dx-acc-r .dxWeb_isPrevPageBtnVertDisabled_KetoSavage:before

{
    left: -69px;
    top: -275px;

}
.dx-acc-r .dxWeb_isPrevPageBtnVertOutside_KetoSavage:before

{
    left: -148px;
    top: 0px;

}
.dx-acc-r .dxWeb_isPrevPageBtnVertOutsideDisabled_KetoSavage:before

{
    left: 0px;
    top: -111px;

}
.dx-acc-r .dxWeb_izEWCloseButton_KetoSavage:before

{
    left: -153px;
    top: -241px;

}
.dx-acc-r .dxWeb_izHint_KetoSavage:before

{
    left: -182px;
    top: -133px;

}
.dx-acc-r .dxWeb_mAdaptiveMenu_KetoSavage:before

{
    left: -68px;
    top: -241px;

}
.dx-acc-r .dxWeb_mHorizontalPopOut_KetoSavage:before

{
    left: -272px;
    top: -224px;

}
.dx-acc-r .dxWeb_mScrollDown_KetoSavage:before

{
    left: -100px;
    top: -314px;

}
.dx-acc-r .dxWeb_mScrollUp_KetoSavage:before

{
    left: -97px;
    top: -303px;

}
.dx-acc-r .dxWeb_mSubMenuItem_KetoSavage:before

{
    left: -238px;
    top: -148px;

}
.dx-acc-r .dxWeb_mSubMenuItemChecked_KetoSavage:before

{
    left: -162px;
    top: -148px;

}
.dx-acc-r .dxWeb_mVerticalPopOut_KetoSavage:before

{
    left: -50px;
    top: -314px;

}
.dx-acc-r .dxWeb_mVerticalPopOutRtl_KetoSavage:before

{
    left: -120px;
    top: -314px;

}
.dx-acc-r .dxWeb_nbCollapse_KetoSavage:before

{
    left: -199px;
    top: -275px;

}
.dx-acc-r .dxWeb_nbExpand_KetoSavage:before

{
    left: -43px;
    top: -275px;

}
.dx-acc-r .dxWeb_pAll_KetoSavage:before

{
    left: 0px;
    top: -303px;

}
.dx-acc-r .dxWeb_pAllDisabled_KetoSavage:before

{
    left: -44px;
    top: -303px;

}
.dx-acc-r .dxWeb_pcCloseButton_KetoSavage:before

{
    left: -137px;
    top: -133px;

}
.dx-acc-r .dxWeb_pcCollapseButton_KetoSavage:before

{
    left: -257px;
    top: -133px;

}
.dx-acc-r .dxWeb_pcExpandButton_KetoSavage:before

{
    left: -197px;
    top: -133px;

}
.dx-acc-r .dxWeb_pcMaximizeButton_KetoSavage:before

{
    left: -212px;
    top: -133px;

}
.dx-acc-r .dxWeb_pcPinButton_KetoSavage:before

{
    left: -227px;
    top: -133px;

}
.dx-acc-r .dxWeb_pcRefreshButton_KetoSavage:before

{
    left: 0px;
    top: -275px;

}
.dx-acc-r .dxWeb_pcSizeGrip_KetoSavage:before

{
    left: -15px;
    top: -275px;

}
.dx-acc-r .dxWeb_pcSizeGripRtl_KetoSavage:before

{
    left: -167px;
    top: -133px;

}
.dx-acc-r .dxWeb_pFirst_KetoSavage:before

{
    left: -26px;
    top: -290px;

}
.dx-acc-r .dxWeb_pFirstDisabled_KetoSavage:before

{
    left: -208px;
    top: -290px;

}
.dx-acc-r .dxWeb_pLast_KetoSavage:before

{
    left: -117px;
    top: -290px;

}
.dx-acc-r .dxWeb_pLastDisabled_KetoSavage:before

{
    left: -121px;
    top: -275px;

}
.dx-acc-r .dxWeb_pNext_KetoSavage:before

{
    left: -169px;
    top: -290px;

}
.dx-acc-r .dxWeb_pNextDisabled_KetoSavage:before

{
    left: -238px;
    top: -275px;

}
.dx-acc-r .dxWeb_pnlExpand_KetoSavage:before

{
    left: -19px;
    top: -188px;

}
.dx-acc-r .dxWeb_pnlExpandArrowBottom_KetoSavage:before

{
    left: -204px;
    top: -207px;

}
.dx-acc-r .dxWeb_pnlExpandArrowLeft_KetoSavage:before

{
    left: -17px;
    top: -241px;

}
.dx-acc-r .dxWeb_pnlExpandArrowRight_KetoSavage:before

{
    left: -255px;
    top: -207px;

}
.dx-acc-r .dxWeb_pnlExpandArrowTop_KetoSavage:before

{
    left: -17px;
    top: -258px;

}
.dx-acc-r .dxWeb_pPopOut_KetoSavage:before

{
    left: -111px;
    top: -137px;

}
.dx-acc-r .dxWeb_pPopOutDisabled_KetoSavage:before

{
    left: -55px;
    top: -303px;

}
.dx-acc-r .dxWeb_pPrev_KetoSavage:before

{
    left: -160px;
    top: -275px;

}
.dx-acc-r .dxWeb_pPrevDisabled_KetoSavage:before

{
    left: -269px;
    top: -98px;

}
.dx-acc-r .dxWeb_rDialogBoxLauncher_KetoSavage:before

{
    left: -275px;
    top: -217px;

}
.dx-acc-r .dxWeb_rDialogBoxLauncherDisabled_KetoSavage:before

{
    left: -275px;
    top: -234px;

}
.dx-acc-r .dxWeb_rDialogBoxLauncherHover_KetoSavage:before

{
    left: -275px;
    top: -251px;

}
.dx-acc-r .dxWeb_rDialogBoxLauncherPressed_KetoSavage:before

{
    left: -275px;
    top: -268px;

}
.dx-acc-r .dxWeb_rGlrDown_KetoSavage:before

{
    left: -236px;
    top: -314px;

}
.dx-acc-r .dxWeb_rGlrDownDisabled_KetoSavage:before

{
    left: -204px;
    top: -314px;

}
.dx-acc-r .dxWeb_rGlrDownHover_KetoSavage:before

{
    left: -252px;
    top: -314px;

}
.dx-acc-r .dxWeb_rGlrPopOut_KetoSavage:before

{
    left: -260px;
    top: -29px;

}
.dx-acc-r .dxWeb_rGlrPopOutDisabled_KetoSavage:before

{
    left: -140px;
    top: -314px;

}
.dx-acc-r .dxWeb_rGlrPopOutHover_KetoSavage:before

{
    left: -156px;
    top: -314px;

}
.dx-acc-r .dxWeb_rGlrUp_KetoSavage:before

{
    left: -220px;
    top: -314px;

}
.dx-acc-r .dxWeb_rGlrUpDisabled_KetoSavage:before

{
    left: -111px;
    top: -132px;

}
.dx-acc-r .dxWeb_rGlrUpHover_KetoSavage:before

{
    left: -228px;
    top: -314px;

}
.dx-acc-r .dxWeb_rMinBtn_KetoSavage:before

{
    left: -56px;
    top: -275px;

}
.dx-acc-r .dxWeb_rMinBtn_KetoSavage.dxWeb_rMinBtnHover_KetoSavage:before

{
    left: -156px;
    top: -290px;

}
.dx-acc-r .dxWeb_rMinBtn_KetoSavage.dxWeb_rMinBtnPressed_KetoSavage:before

{
    left: -143px;
    top: -290px;

}
.dx-acc-r .dxWeb_rMinBtnChecked_KetoSavage.dxWeb_rMinBtn_KetoSavage:before

{
    left: -108px;
    top: -275px;

}
.dx-acc-r .dxWeb_rMinBtnChecked_KetoSavage.dxWeb_rMinBtnDisabled_KetoSavage:before

{
    left: -78px;
    top: -290px;

}
.dx-acc-r .dxWeb_rMinBtnChecked_KetoSavage.dxWeb_rMinBtnHover_KetoSavage:before

{
    left: -39px;
    top: -290px;

}
.dx-acc-r .dxWeb_rMinBtnChecked_KetoSavage.dxWeb_rMinBtnPressed_KetoSavage:before

{
    left: -104px;
    top: -290px;

}
.dx-acc-r .dxWeb_rMinBtnDisabled_KetoSavage:before

{
    left: -134px;
    top: -275px;

}
.dx-acc-r .dxWeb_rpCollapseButton_KetoSavage:before

{
    left: -52px;
    top: -290px;

}
.dx-acc-r .dxWeb_rPinBtn_KetoSavage:before

{
    left: -122px;
    top: -133px;

}
.dx-acc-r .dxWeb_rPopOut_KetoSavage:before

{
    left: -227px;
    top: -303px;

}
.dx-acc-r .dxWeb_splHCollapseBackwardButton_KetoSavage:before

{
    left: -244px;
    top: -314px;

}
.dx-acc-r .dxWeb_splHCollapseBackwardButtonHover_KetoSavage:before

{
    left: -196px;
    top: -314px;

}
.dx-acc-r .dxWeb_splHCollapseForwardButton_KetoSavage:before

{
    left: -212px;
    top: -314px;

}
.dx-acc-r .dxWeb_splHCollapseForwardButtonHover_KetoSavage:before

{
    left: -260px;
    top: -314px;

}
.dx-acc-r .dxWeb_splHSeparator_KetoSavage:before

{
    left: -180px;
    top: -314px;

}
.dx-acc-r .dxWeb_splHSeparatorHover_KetoSavage:before

{
    left: -164px;
    top: -314px;

}
.dx-acc-r .dxWeb_splVCollapseBackwardButton_KetoSavage:before

{
    left: -275px;
    top: -188px;

}
.dx-acc-r .dxWeb_splVCollapseBackwardButtonHover_KetoSavage:before

{
    left: -277px;
    top: -161px;

}
.dx-acc-r .dxWeb_splVCollapseForwardButton_KetoSavage:before

{
    left: -277px;
    top: -275px;

}
.dx-acc-r .dxWeb_splVCollapseForwardButtonHover_KetoSavage:before

{
    left: -277px;
    top: -199px;

}
.dx-acc-r .dxWeb_splVSeparator_KetoSavage:before

{
    left: -277px;
    top: -132px;

}
.dx-acc-r .dxWeb_splVSeparatorHover_KetoSavage:before

{
    left: -272px;
    top: -132px;

}
.dx-acc-r .dxWeb_tcScrollLeft_KetoSavage:before

{
    left: -221px;
    top: -290px;

}
.dx-acc-r .dxWeb_tcScrollLeftDisabled_KetoSavage:before

{
    left: -91px;
    top: -290px;

}
.dx-acc-r .dxWeb_tcScrollLeftHover_KetoSavage:before

{
    left: -95px;
    top: -275px;

}
.dx-acc-r .dxWeb_tcScrollLeftPressed_KetoSavage:before

{
    left: -130px;
    top: -290px;

}
.dx-acc-r .dxWeb_tcScrollRight_KetoSavage:before

{
    left: -182px;
    top: -290px;

}
.dx-acc-r .dxWeb_tcScrollRightDisabled_KetoSavage:before

{
    left: -212px;
    top: -275px;

}
.dx-acc-r .dxWeb_tcScrollRightHover_KetoSavage:before

{
    left: -186px;
    top: -275px;

}
.dx-acc-r .dxWeb_tcScrollRightPressed_KetoSavage:before

{
    left: -225px;
    top: -275px;

}
.dx-acc-r .dxWeb_tvColBtn_KetoSavage:before

{
    left: -33px;
    top: -303px;

}
.dx-acc-r .dxWeb_tvColBtnRtl_KetoSavage:before

{
    left: -22px;
    top: -303px;

}
.dx-acc-r .dxWeb_tvExpBtn_KetoSavage:before

{
    left: -260px;
    top: -290px;

}
.dx-acc-r .dxWeb_tvExpBtnRtl_KetoSavage:before

{
    left: -271px;
    top: -290px;

}
.dx-acc-r .dxWeb_ucClearButton_KetoSavage:before

{
    left: -237px;
    top: -111px;

}
.dx-acc-r .dxWeb_ucClearButtonDisabled_KetoSavage:before

{
    left: -190px;
    top: -169px;

}
.dx-acc-r div.dxfm-fileF .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    left: -171px;
    top: -169px;

}
.dx-acc-r div.dxfm-fileF .dxWeb_edtCheckBoxUnchecked_KetoSavage:before

{
    left: -228px;
    top: -169px;

}
.dx-acc-r div.dxfm-fileF.dxfm-file.dxfm-fileSA .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    left: -19px;
    top: -169px;

}
.dx-acc-r div.dxfm-fileF.dxfm-file.dxfm-fileSI .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    left: -200px;
    top: -148px;

}
.dx-acc-r div.dxfm-fileH.dxfm-file.dxfm-fileSA .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    left: -209px;
    top: -169px;

}
.dx-acc-r div.dxfm-fileH.dxfm-file.dxfm-fileSI .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    left: -124px;
    top: -148px;

}
.dx-acc-r div.dxfm-fileSA.dxfm-file .dxWeb_edtCheckBoxChecked_KetoSavage:before

{
    left: -171px;
    top: -188px;

}

