
@{
    ViewBag.Title = "KetoSavage Client Portal";
}
<div class="row">
    <div class="col-sm-12">
        @if(Request.IsAuthenticated)
        {
            ViewContext.Writer.Write("Home/Index landing page");

        }
        else
        {
            Html.RenderPartial("_dxLoginForm");
        }
    </div>
</div>



