html, body {
    background-color: #000000;
    color: #DEDEDE;
    margin: 0;
    padding-top: 65px;
}

/* Header */

/*.dxpnl-edge.t.headerPane {
    background-color: #000000;
    background-position: left top;
    background-repeat: no-repeat;
}

    .dxpnl-edge.t.headerPane.panel {
        padding: 0;
    }*/

.headerMenu {
    background-color: #000000;
    border-width: 0 !important;
    border-top-width: 1px !important;
}

.expandedPanel {
    padding: 2px !important;
}

    .expandedPanel .headerMenu {
        border-top-width: 0 !important;
    }

.templateTitle {
    color: #ffffff;
    float: left;
    margin: 12px 12px 18px;
}

.expandedPanel .templateTitle {
    display: none;
}



/*.dxpnl-edge.t.headerPane.bar .templateTitle {
    margin: 0;
}*/

.templateTitle a {
    text-decoration: none;
    font-size: medium;
    color: #ffffff;
}

.loginControl {
    float: right;
    margin: 24px 25px 12px;
    font-size: 12px;
}

.expandedPanel .loginControl {
    float: none;
    margin-left: 12px;
    margin-bottom: 24px;
}

.loginControl a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: dashed 1px black;
    display: inline-block;
}


/* Footer */
/*.dxpnl-edge.b.footerPane {
    background-color: #000000;
}

.dxpnl-edge.b.footerPane.panel {
    padding: 0;
}*/

.footerMenu {
    float: right;
    padding-top: 7px;
}

.copyright {
    float: left;
    margin: 30px 15px 11px;
}

.content {
    padding: 5px;
}

.center {
    text-align: center;
}

#loginForm, #form-container {
    margin: auto;
    width: 25%;
    padding: 30px;
    border: 1px solid #4d4d4d;
}

.center img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: auto;
    max-width: 300px;
}


/* Left Panel */
.leftPane.panel {
    padding: 1px;
    width: 200px;
}

/* Right Panel */
.rightPane.panel {
    padding: 0;
    width: 250px;
}

/* Account */
.accountHeader h2 {
    margin: 10px 0 7px 0;
    font-size: 16px;
}

.accountHeader p {
    margin: 0;
    padding: 0;
}

.accountHeader {
    color: #DEDEDE;
    margin-bottom: 20px;
}

#client-name {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

/*Index CSS declarations*/
#loginPage {
    /*border: inset;
    background: #ff1111;*/
    margin: auto;
    width: 60%;
}

.responsive {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
/*Beginning of Chart CSS declarations*/

/*Coach-specific controls*/
#controlPanel, #weightGraph, #gaugeContainer, #gridContainer, #newsGrid {
    padding: 5px;
    width: 100%;
    max-width: 1280px;
    /*border: ridge;*/
    /*display: inline-block;*/
    /*float: left;*/
}

#newsfeed {
    max-width: 1100px;
    /*width: 60%;*/
}

.buttons {
    float: left;
}

.pnlButtons {
    display: inline-block;
}



/*User's progress gauges and charts*/

#progressGauge {
    height: 250px;
    display: inline-block;
    background-color: #0a0a0a;
}

#actualMacroPie {
    display: inline-block;
    height: 250px;
    background-color: #0a0a0a;
}

#currentMacroGauge {
    display: inline-block;
    background-color: #0a0a0a;
    height: 250px;
    position: relative;
}

#currentMacroGauge {
    display: inline-block;
    background-color: #0a0a0a;
    height: 250px;
    position: relative;
}

#pvaMacroPieChartDiv {
    display: inline-block;
    background-color: #0a0a0a;
    height: 250px;
    position: relative;
}

#currentWeekGaugePanel {
    /*border:solid;*/
    background-color: #0a0a0a;
    color: #dedede;
    width: 150px;
    text-align: left;
    display: inline-block;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#weight-chart {
    color: #dedede;
}

#mobile-grid {
    visibility:hidden;
}

/*Quote carousel CSS*/

/* carousel */
#quote-carousel {
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10px;
}

/* Control buttons  */
#quote-carousel .carousel-control {
    background: none;
    color: #dedede;
    font-size: 2.3em;
    text-shadow: none;
    width: 50px;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
    /*right: 50%;*/
    top: auto;
    bottom: 0px;
    /*margin-right: -5px;*/
    /*margin: auto;*/
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
    background: #DEDEDE;
}

#quote-carousel .carousel-indicators .active {
    background: #ff1111;
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 10px;
    text-align: center;
}

.item blockquote img {
    margin-bottom: 10px;
}

.quote {
    font-family: Georgia, serif;
    font-style: italic;
    padding: 15px;
    text-align:center;
}

.news {
    font-family: Georgia, serif;
    font-style:normal;
    padding: 15px;
    text-align: center;
}

.quote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float:none;
    margin-right: 10px;
}


@-webkit-keyframes loader {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 900%;
    }
}

#gridClientProgram {
    height: 440px;
}

#gridClientProgramMobile {
    height: 440px;
}

/**
  MEDIA QUERIES
*/


/*Extra small devices (phones, 600px and down*/

@media only screen and (max-width: 600px) {

    [class*="col-"] {
        width: 100%;
    }

    .dx-button-normal, .dx-button-success {
        width: 100%;
    }

    #loginForm, #form-container, #testPopup {
        width: 95%;
        margin: 5px;
        /*background-color: blue;*/
        padding: 5px;
    }

    #currentWeekGaugePanel {
        display: none;
    }
}

/*Small devices (portrait tablets and large phones, 600px and up*/
@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
        background-color: black;
    }
    #desktop-grid {
        visibility: hidden;
    }

    #mobile-grid {
        visibility: visible;
    }

    #loginForm, #form-container {
        width: 90%;
        /*background-color: red;*/
    }

    #currentWeekGaugePanel {
        display: none;
    }

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: 0px !important;
    }

    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: -10px 5px;
        width: 7px;
        height: 7px;
    }

    #quote-carousel .carousel-indicators li.active {
        margin: -10px 5px;
        width: 10px;
        height: 10px;
    }
}

/*Medium devices (landscape tablets, 768px and up)*/
@media (min-width: 768px) {
    /*#quote-carousel {
        margin-bottom: 0px;
        padding: 0 40px 30px 40px;
    }*/
}

/*Large devices (laptops/desktops, 992px and up*/
@media only screen and (min-width: 992px) {
    #loginForm, #form-container {
        width: 75%;
        padding: 10px;
        margin: auto;
        /*background-color: orange;*/
    }
}

/*Extra large devices (large laptops/desktops 1200px and up)*/
@media only screen and (min-width: 1200px) {
    #loginForm, #form-container {
        width: 50%;
        padding: 10px;
        margin: auto;
        /*background-color: green;*/
    }
}

/*End of quote carousel CSS*/

