@model IEnumerable<KetoSavageWeb.ViewModels.WeightViewModel>


<div id="weightGraph">
    @(Html.DevExtreme().Chart()
        .ID("weight-chart")
        .DataSource(Model)
        .Palette(VizPalette.Bright)
        .CommonPaneSettings(p => p
            .BackgroundColor("#0A0A0A")
        )
        .CommonSeriesSettings(s => s
            .ArgumentField("date")
            .ValueField("weight")
            .Type(SeriesType.Line)
            .Point(p => p
                .Size(1)
            )
        )
        .SeriesTemplate(st => st
            .NameField("type")
        )
        .Margin(m => m.Bottom(20))
        .ArgumentAxis(a => a
            .Title(t => t
                .Text("Date")
                .Font(f => f
                    .Weight(600)
                    .Size(12)
                    .Color("#DEDEDE")
                )
            )
            .ValueMarginsEnabled(false)
            .DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.CrossLabels)
            .Grid(g => g.Visible(true))
        )
        .Legend(l => l
            .VerticalAlignment(VerticalEdge.Bottom)
            .HorizontalAlignment(HorizontalAlignment.Center)
            .ItemTextPosition(Position.Bottom)
        )
        .Title(t => t
            .Text("Weight Trend")
            //.Subtitle(s => s.Text("test"))
            .Font(f => f
                .Color("#dedede")
                .Weight(900)
                .Size(16)
            )
        )
        .Export(e => e.Enabled(false))
        .Tooltip(t => t
            .Enabled(true)
            .CustomizeTooltip(@<text>
                function (arg) {
                return {
                text: arg.valueText
                };
                }
            </text>)
        )
    )
</div>   