@model IEnumerable<KetoSavageWeb.ViewModels.MeasurementViewModel>
    @{ var today = DateTime.Now;}
<div id="measurementForm">
    <div class="widget-container">
        <div>Date:</div>
        @(Html.DevExtreme().DateBox()
            .ID("measurementDate")
            .Type(DateBoxType.Date)
            .Value(DateTime.Now)
            .OnValueChanged("datebox_valueChanged")
        )
        @(Html.DevExtreme().Form()
            .ID("measurementForm")
            .FormData(Model)
            .LabelLocation(FormLabelLocation.Top)
            .MinColWidth(300)
            .ReadOnly(false)
        )
    </div>

</div>
