@using KetoSavageWeb.ViewModels
@using ButtonType = DevExtreme.AspNet.Mvc.ButtonType
@model KetoSavageWeb.ViewModels.EnterMacroViewModel


    @{ Html.BeginForm("UpdateActualMacros", "UserProgress", FormMethod.Post);}
    @Html.HiddenFor(m => m.macroUserId)
    <div id="macro-form">


        @(Html.DevExtreme().Form<EnterMacroViewModel>()
                          .ID("dailyMacros")
                          .LabelLocation(FormLabelLocation.Top)
                          .Items(items =>
                          {
                              items.AddSimpleFor(m => m.macroDate)
                                  .Editor(e => e
                                      .DateBox()
                                      .ID("macroDate")
                                      .OnValueChanged("refreshMacroForm")
                                            .Width("100%"));
                                    items.AddSimpleFor(m => m.actualFat);
                                    items.AddSimpleFor(m => m.actualProtein);
                                    items.AddSimpleFor(m => m.actualCarb);
                                    items.AddSimpleFor(m => m.hungerLevel)
                                        .Editor(e => e
                                            .DropDownBox()
                                            .DataSource(Model.hungerList()
                                                .Select(i => new { Value = i.Text, Text = i.Text }))
                                            .DisplayExpr("Text")
                                            .ValueExpr("Value"));
                                    items.AddSimpleFor(m => m.Notes)
                                        .Editor(e => e.TextArea());
                                    items.AddSimple()
                                        .Template(@<text>
                                            @( Html.DevExtreme().Button()
                                                .ID("btnMacros")
                                                .Text("Save")
                                                .Type(ButtonType.Normal)
                                                .UseSubmitBehavior(true))
                                        </text>);
                           })
          .FormData(Model)
          )
    </div>
    @{ Html.EndForm();}

