@{
    ViewBag.Title = "User Progress";
}

<div id="newsfeed">
    @Html.DevExpress().Panel(p =>
    {
        p.Name = "pnlNewsCarousel";
        p.SetContent(() =>
        {
            Html.RenderAction("newsCarousel", "ManageNews");
        });
    }).GetHtml()
</div>


<div id="weightGraph">
    @Html.DevExpress().Panel(p =>
    {
    p.Name = "pnlWeightGraph";
    //p.ControlStyle.BackColor = System.Drawing.Color.Red;
    p.SetContent(() =>
    {
    var userId = Session["UserId"];
    Html.RenderAction("ClientWeightGraph", "ClientCharts", new { userId = userId });
    });
    }).GetHtml()
</div>
<div id="gaugeContainer">
    @Html.DevExpress().Panel(p =>
    {
    p.Name = "pnlCharts";
    p.SetContent(() =>
    {
    Html.RenderAction("ClientPerformanceGauge", "ClientCharts", new { userId = Session["UserId"] });
    Html.RenderAction("ClientPastWeekMacroChart", "ClientCharts", new { userId = Session["UserId"] });
    Html.RenderAction("ClientCurrentWeekMacroGauge", "ClientCharts", new { userId = Session["UserId"] });
    });
    }).GetHtml()
</div>

<div id="gridContainer">
    @Html.DevExpress().Panel(p =>
    {
    p.Name = "pnlPastProgress";
    p.SetContent(() =>
    {
        Html.RenderAction("PastPerformanceGrid");
    });
    }).GetHtml()
</div>





