<?xml version="1.0" encoding="utf-8" ?>
<parameters>
	<parameter Name="Font" Value="14px 'Open Sans', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif"></parameter>
	<parameter Name="AltFont" Value="14px 'Open Sans', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;font-weight:bold" Base="Font" Expression="{0};font-weight:bold"></parameter>
	<parameter Name="Base Color" Value="#000000" Type="Color"></parameter>
	<parameter Name="CalendarTooday Color" Value="#000000" Type="Color" Base="Base Color" Expression="1,1,0.813"></parameter>
	<parameter Name="CalendarToodaySelected Color" Value="#000000" Type="Color" Base="Base Color" Expression="1,0.769,1.121"></parameter>
	<parameter Name="Condition Color" Value="#000000" Type="Color" Base="Base Color" Expression="0.695,0.57,1.086"></parameter>
	<parameter Name="Min Color" Value="#000000" Type="Color" Base="Base Color" Expression="0.741,0.599,0.844"></parameter>
	<parameter Name="Max Color" Value="#000000" Type="Color" Base="Base Color" Expression="0.701,0.45,1.259"></parameter>
	<parameter Name="Editors Color" Value="#000000" Type="Color" Base="Base Color" Expression="1,1,0.621"></parameter>
	<parameter Name="Voted Rating" Value="#000000" Type="Color" Base="Base Color" Expression="1,1,0.71"></parameter>
	<parameter Name="Ripple color" Value="rgba(0,0,0,0.3)" Type="RgbaColor" Base="Base Color" Expression="1,1,1"></parameter>
	<parameter Name="Mobile ripple color" Value="rgba(0,0,0,0.4)" Type="RgbaColor" Base="Base Color" Expression="1,1,1"></parameter>
	<parameter Name="Listbox ripple color" Value="rgba(0,0,0,0.55)" Type="RgbaColor" Base="Base Color" Expression="1,1,1"></parameter>
</parameters>

