<div class='title'>
    <a href="@Url.Action("Home", "Pages")">DX Blog</a>
    <p class="small">Mobile friendly</p>
</div>
<div class="panelContent">
    <div class="pull-right">
        <div class="panelItem">
            @Html.DevExpress().Menu(m =>
           {
               m.Name = "NavMenu";
               m.EnableAnimation = true;
               m.ControlStyle.CssClass = "navMenu";
               m.Styles.Item.Paddings.PaddingLeft = 22;
               m.Styles.Item.Paddings.PaddingRight = 22;

               m.Items.Add("HOME").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "Home" });
               m.Items.Add("BLOG").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "BlogTimeline" });
           }).GetHtml()
        </div>
    </div>
</div>
